<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>萌宝家园 菜单</title>
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="幼教产品" />
	<meta name="author" content="上海紫越网络科技有限公司" />
	<link rel="shortcut icon" href="./images/favicon.png">
	<link href="./css/common/jquery.toast.min.css" rel="stylesheet">
	<link href="./css/common/base.css" rel="stylesheet" type="text/css" />
	<link href="./css/index/menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<div id="menu">
		<div class="menuTitle"><a href="javascript:void(0);"><img src="images/index/menuTitle.png" alt=""></a></div>
		<ul id="menuBox"></ul>
		<script type="text/html" id="menuBox_script">
			{{each arr as value i}}
			<li>
				<div class="has-list">
					<a class="hasTitle" style="background-image: url({{path_img}}{{value.icon}});" href="{{value.url}}?pid={{value.id}}" {{if value.type ==1}}target="_blank"{{/if}}>{{value.name}}</a>
					{{if value.childMenuList.length}}
					<div class="hasBox">
						<ul class="menuBox">
							{{each value.childMenuList as value01 j}}
							<li>
								{{if value01.search}}
								<a href="{{value01.url}}&pid={{value.id}}&sid={{value01.id}}&t={{date}}" {{if value01.type ==1}}target="_blank"{{/if}}>{{value01.name}}</a>
								{{else}}
								<a href="{{value01.url}}?pid={{value.id}}&sid={{value01.id}}&t={{date}}" {{if value01.type ==1}}target="_blank"{{/if}}>{{value01.name}}</a>
								{{/if}}
							</li>
							{{/each}}
						</ul>
					</div>
					<div class="hasBoxBg"></div>
					{{/if}}
				</div>
			</li>
			{{/each}}
		</script>
	</div>
	<div id="user">
		<div class="userPic">
			<a href="index.html">退出登录</a>
		</div>
		<div class="userInfo">
			<div class="userName"></div>
			<div class="userRole"></div>
		</div>
	</div>
	<script src="./js/common/jquery-1.11.1.min.js"></script>
	<script src="./js/common/jquery.nicescroll.min.js?t=20180118"></script>
	<script src="./js/common/jquery.toast.min.js"></script>
	<script src="./js/common/template.js"></script>
	<script src="./js/common/base.js?t=20171219"></script>
	<script src="./js/index/menu.js?t=20171219"></script>
</body>
</html>