<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>萌宝家园 菜单</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="幼教产品" name="description" />
	<meta content="上海紫越网络科技有限公司" name="author" />
	<link rel="shortcut icon" href="./images/favicon.png">
	<link href="./css/common/base.css" rel="stylesheet" type="text/css" />
	<link href="./css/index/menu.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="page-loader" class="fade in hide"><span class="spinner"></span></div>
	<div id="menu">
		<div class="menuTitle"><a href="index.html"></a></div>
		<ul id="menuBox"></ul>
		<script type="text/html" id="menuBox_script">
			{{each arr as value i}}
			<li class="has-list">
				<a class="hasTitle" style="background-image: url({{path_img}}{{value.icon}}&minpic=0);" href="{{value.url}}?pid={{value.id}}" {{if value.type ==1}}target="_blank"{{/if}}>{{value.name}}</a>
				{{if value.childMenuList.length}}
				<div class="hasBox">
					<ul class="menuBox">
						{{each value.childMenuList as value01 j}}
						<li>
							<a href="{{value01.url}}?pid={{value.id}}&sid={{value01.id}}">{{value01.name}}</a>
						</li>
						{{/each}}
					</ul>
				</div>
				<div class="hasBoxBg"></div>
				{{/if}}
			</li>
			{{/each}}
		</script>
	</div>
	<script src="./js/common/jquery-1.11.1.min.js"></script>
	<script src="./js/common/jquery.nicescroll.min.js"></script>
	<script src="./js/common/template.js"></script>
	<script src="./js/common/base.js"></script>
	<script src="./js/index/menu.js"></script>
</body>
</html>