<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>全日观察</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/> 
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link rel="shortcut icon" href="./images/favicon.png" />
	<link rel="stylesheet" href="./js/dialog/dialog.css" />
	<link rel="stylesheet" href="./js/mobiscrollTime/css/mobiscroll.css" />
	<link rel="stylesheet" href="./js/mobiscrollTime/css/mobiscroll_time.css" />
	<link rel="stylesheet" href="./js/mobiscrollTime/css/mobiscroll_android.css" />
	<link rel="stylesheet" href="./css/fullDayObserve.css?t=20180906" />
</head>
<body>
	<div id="app">
		<section id="section01" class="box-content current">
			<div class="container">
				<div class="listBox"></div>
				<span id="addIcon"></span>
				<script id="listBox_script" type="text/html">
					{{each arr as value i}}
					<li class="caseBox" data-uuid="{{value.uuid}}">
						<div>
							<div class="casePhoto"><span style="background: url({{value.photo}}) center center no-repeat;"></span></div>
							<div class="caseName">{{value.studentName}}</div>
							<div class="caseTime">创建于{{value.createDate}}</div>
							<div class="infoBtn"><span></span>观察日期：{{value.observationDate}}</div>
							<div class="infoBtn"><span></span>晨检情况：{{value.morningAnomaly}}</div>
							<div class="infoBtn"><span></span>全日观察情况{{value.analysis}}</div>
							<div class="infoBtn">
								<div>上午观察情况：{{value.amAnomaly}}</div>
								<div>下午观察情况：{{value.pmAnomaly}}</div>
							</div>
							<div class="btnBox">{{if value.canDelete ==1}}<span class="editBtn" data-uuid="{{value.uuid}}"></span><span class="deleteBtn" data-uuid="{{value.uuid}}"></span>{{/if}}</div>
						</div>
					</li>
					{{/each}}
				</script>
			</div> 
		</section>
		<section id="section02" class="box-content">
			<div class="container">
				<div class="classBox">
					<label for="class">
						<select name="class" id="class"></select>
						<script id="class_script" type="text/html">
      						{{each arr as value i}}
							<option value="{{value.classUUID}}">{{value.className}}</option>
      						{{/each}}
      					</script>
					</label>
				</div>
				<div id="students"></div>
				<script id="students_script" type="text/html">
      				{{each arr as value i}}
					<div class="studentBox">
						<div class="studentPhoto" style="background: url({{value.photo}}) center center no-repeat;"></div>
						<div class="studentName">{{value.studentName}}</div>
						<div class="studentBtn" data-studentuuid="{{value.studentUuid}}" data-studentphoto="{{value.studentPhoto}}" data-name="{{value.studentName}}"></div>
					</div>	
      				{{/each}}
      			</script>
      			<div class="backBar">
					<div><span></span></div>
					<div><span></span></div>
      			</div>
			</div> 
		</section>
		<section id="section03" class="box-content">
			<div id="updateBox"></div>
			<script id="update_script" type="text/html">
				{{if editing ==1}}
				<span id="addIcon02">保存</span>
				{{/if}}
      			<div class="photoBox" data-studentuuid="{{studentUUID}}" data-uuid="{{uuid}}">
					<div><span style="background: url({{photo}}) center center no-repeat;"></span></div>
					<div>{{studentName}}</div>
				</div>
				<div class="curTime">
					<div class="curTimeTitle">日期</div>
					<div class="curTimeInput">
						<span>观察日期</span>
						<span class="fr"><input type="text" value="{{observationDate}}" id="mobiscrollBtn" readonly="readonly" {{if editing == 0}}disabled="disabled"{{/if}}></span>
					</div>
      			</div>
      			<div class="morning">
					<div class="morningTitle">晨检情况</div>
					<div class="morningBox">
						<div>
							<div class="itemTitle"><i></i>异常情况（体温、精神、口腔、皮肤等）</div>
							<div><textarea name="" id="morningAnomaly" placeholder="此处输入内容" {{if editing == 0}}readonly="readonly"{{/if}} >{{if morningAnomaly}}{{morningAnomaly}}{{else if editing == 0}}暂无内容{{/if}}</textarea></div>
						</div>
						<div>
							<div class="itemTitle"><i></i>家长代诉</div>
							<div><textarea name="" id="parentTell" placeholder="此处输入内容" {{if editing == 0}}readonly="readonly"{{/if}} >{{if parentTell}}{{parentTell}}{{else if editing == 0}}暂无内容{{/if}}</textarea></div>
						</div>
						<div>
							<div class="itemTitle"><i></i>处理</div>
							<div><textarea name="" id="morningDispose" placeholder="此处输入内容" {{if editing == 0}}readonly="readonly"{{/if}} >{{if morningDispose}}{{morningDispose}}{{else if editing == 0}}暂无内容{{/if}}</textarea></div>
						</div>
					</div>
      			</div>
      			<div class="daily">
					<div class="dailyTitle">全日观察情况</div>
					<div class="dailyBox">
						<div>
							<div class="dailySubTitle">上午观察情况</div>
							<div>
								<div class="itemTitle"><i></i>异常情况（体温、精神、口腔、皮肤等）</div>
								<div><textarea name="" id="amAnomaly" placeholder="此处输入内容" {{if editing == 0}}readonly="readonly"{{/if}}>{{if amAnomaly}}{{amAnomaly}}{{else if editing == 0}}暂无内容{{/if}}</textarea></div>
							</div>
							<div>
								<div class="itemTitle"><i></i>处理</div>
								<div><textarea name="" id="amDispose" placeholder="此处输入内容" {{if editing == 0}}readonly="readonly"{{/if}}>{{if amDispose}}{{amDispose}}{{else if editing == 0}}暂无内容{{/if}}</textarea></div>
							</div>
						</div>
						<div>
							<div class="dailySubTitle">下午观察情况</div>
							<div>
								<div class="itemTitle"><i></i>异常情况（体温、精神、口腔、皮肤等）</div>
								<div><textarea name="" id="pmAnomaly" placeholder="此处输入内容" {{if editing == 0}}readonly="readonly"{{/if}}>{{if pmAnomaly}}{{pmAnomaly}}{{else if editing == 0}}暂无内容{{/if}}</textarea></div>
							</div>
							<div>
								<div class="itemTitle"><i></i>处理</div>
								<div><textarea name="" id="pmDispose" placeholder="此处输入内容" {{if editing == 0}}readonly="readonly"{{/if}}>{{if pmDispose}}{{pmDispose}}{{else if editing == 0}}暂无内容{{/if}}</textarea></div>
							</div>
						</div>
					</div>
      			</div>
      			</script>
      			<div class="backBar">
					<div><span></span></div>
					<div><span></span></div>
      			</div>
		</section>
	</div>

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/dialog/dialog.min.js"></script>
	<script src="./js/mobiscrollTime/js/mobiscroll_scroller.js"></script>
	<script src="./js/mobiscrollTime/js/mobiscroll.js"></script>
	<script src="./js/mobiscrollTime/js/mobiscroll_default.js"></script>
	<script src="js/template.js"></script> 
	<script src="./js/base.js?t=20180906"></script>
	<script src="./js/fullDayObserve.js?t=20180907"></script>
</body>
</html>
