html {
    font-size: 100px;
    width: 100%;
    height: 100%;
}
body{
	font-size: 0.16rem;
	background-color: #e8fcf8;
	overflow-x: hidden;
}
/*ÂÖ²¥ start*/
.carousel-inner >.item >img{
	width: 100%;
	height: 8rem;
}
.carousel-control.right,.carousel-control.left{
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%); 
	background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%); 
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0))); 
	background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); 
	background-repeat: repeat-x; 
}
.carousel-indicators li {
	display: inline-block;
	width: 0.2rem;
	height: 0.2rem;
	margin: 0.01rem;
	cursor: pointer;
	background-color: #000\9;
	background-color: rgba(0,0,0,0);
	border: 0.02rem solid #676767;
	border-radius: 0.2rem;
}
.carousel-indicators .active {
	width: 0.56rem;
	height: 0.22rem;
	margin: 0;
	background-color: #f9f453;
}
.glyphicon-right {
	background: url(../../images/growth/glyphicon-right.png) no-repeat 0 center;
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
	height: 0.8rem;
	width: 0.8rem;
}
.glyphicon-left {
	background: url(../../images/growth/glyphicon-left.png) no-repeat 0 center;
	position: absolute;
	top: 45%;
	z-index: 5;
	display: inline-block;
	height: 0.8rem;
	width: 0.8rem;
}
header{
	position: relative;
}
header >#logo{
	position: absolute;
	top: 0.4rem;
	left: 0.5rem;
}
#logo .curClass{
	display: inline-block;
	width: 2rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	color: #fff;
	font-size: 0.22rem;
	cursor: pointer;
	background: url(../../images/growth/curClass.png) center center no-repeat;
}
/*ÂÖ²¥ end*/

/*main start*/
#main{
	padding-top: 1.6rem;
}
#mainBox{
	width: 9.4rem;
	margin: 0 auto;
	padding: 0.05rem;
	text-align: center;
}
#mainBox #newBtn{
	display: inline-block;
	height: 2.3rem;
	width: 2.3rem;
	border-radius: 1.2rem;
	cursor: pointer;
	color: #676767;
	border: 0.02rem solid #676767;
	background: #e0f4b0 url(../../images/growth/new.png) 58% center no-repeat;
}
#mainBox #newBtn:hover{
	background-color: #daff86;
	border: 0.02rem solid #000;
}
#mainBox #newText{
	display: inline-block;
	padding: 0.2rem 0 0.5rem;
	color: #676767;
	font-size: 0.18rem;
	cursor: pointer;
}
#editor{
	display: none;
	width: 100%;
	min-height: 3.1rem;
	border: 1px solid #e8ebeb;
	border-radius: 0.2rem;
	background-color: #fff;
	text-align: left;
	padding: 0.4rem 0.3rem
}
#editor.active{
	display: block;
}
#editor >#input{
	margin:0 auto 0.1rem;
	width: 100%;
	height: 1.6rem;
	border: 0.01rem solid #e7ecea;
	border-radius: 0.18rem;
	overflow: hidden;
}
#editor > #input >textarea{
	width: 100%;
	height: 100%;
	padding: 0.1rem;
	border: 0.01rem solid transparent;
	border-radius: 0.18rem;
}
#editor .newPicBtn{
	display: inline-block;
	width: 0.7rem;
	height: 0.3rem;
	line-height: 0.3rem;
	padding-left: 0.35rem;
	cursor: pointer;
	background: url(../../images/growth/newPicBtn.png) 0 center no-repeat;
}
#editor .newLabelBtn{
	display: inline-block;
	width: 0.7rem;
	height: 0.3rem;
	line-height: 0.3rem;
	padding-left: 0.35rem;
	cursor: pointer;
	background: url(../../images/growth/newLabelBtn.png) 0 center no-repeat;
}
#editor .newNumBtn{
	float: right;
	color: #a6a9a8;
}
#editor .newWhoBtn{
	display: inline-block;
	width: 0.9rem;
	height: 0.3rem;
	line-height: 0.3rem;
	padding-left: 0.35rem;
	cursor: pointer;
	background: url(../../images/growth/newWhoBtn.png) 0 center no-repeat;
}
#editor .newTopBtn{
	display: inline-block;
	width: 1.2rem;
	height: 0.3rem;
	line-height: 0.3rem;
	padding-left: 0.35rem;
	cursor: pointer;
	background: url(../../images/growth/switchBtn02.png) 0 center no-repeat;
}
#editor .newTopBtn.active{
	background: url(../../images/growth/switchBtn01.png) 0 center no-repeat;
}
#editor .newTopBtn >span{
	color: #5ae0e2;
}
#editor .newPicBtn:hover,#editor .newLabelBtn:hover,#editor .newWhoBtn:hover,#editor .newTopBtn:hover{
	color: #5ae0e2;
}
#picList,.newLabel,.newWho{
	display: none;
}
.commentNew {
	width: 1.2rem;
	height: 0.4rem;
	background-color: #5cdfe2;
	border-radius: 0.1rem;
	text-align: center;
	line-height: 0.4rem;
	color: #fff;
	float: right;
	cursor: pointer;
	font-size: 0.14rem;
}
.commentNew:hover {
	background-color: #28d3d7;
}

#label{
	text-align: left;
	margin: 0.4rem 0 0.2rem;
}
#label >span{
	display: inline-block;
	width: 1.5rem;
	height: 0.4rem;
	line-height: 0.38rem;
	text-align: center;
	margin: 0 0.32rem 0.2rem 0;
	color: #666;
	background-color: #fff;
	border: 0.02rem solid #666;
	border-radius: 0.2rem;
	cursor: pointer;
}
#label >span:hover{
	background-color: #5cdfe2;
}
#label >span.active{
	background-color: #5cdfe2;
}
ul#list >li{
	width: 100%;
	min-height: 1rem;
	background-color: #fff;
	margin-bottom: 0.1rem;
	border-radius: 0.15rem;
	border: 1px solid #e8ebeb;
}
#list .part >.partBox{
	width: 6.8rem;
	margin: 0.5rem auto;
	text-align: left;
	position: relative;
}
.video{
	text-align: center;
}
.pictureList{
	height: auto;
	margin-top: 0.1rem;
}
.pictureList >li{
	position: relative;
	display: inline-block;
	width: 1.6rem;
	height: 1.6rem;
	margin: 0.03rem;
}
.pictureList >li .twelve{
	position: absolute;
	z-index: 100;
	display: inline-block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	color: #fefefe;
	line-height: 1.6rem;
	font-size: 0.75rem;
	overflow: hidden;
	border-radius: 0.1rem;
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
}
.pictureList >li >a{
	width: 100%;
	height: 100%;
	display: inline-block;
	border-radius: 0.1rem;
	overflow: hidden;
}
.pictureList >li >a >img{
	width: 100%;
	height: 100%;
}
.praiseBox{
	margin-top: 0.25rem;
	text-align: right;
}
.praiseBtn{
	height: 0.2rem;
	font-size: 0.12rem;
	color: #666;
	display: inline-block;
	padding: 0 0.3rem 0 0.3rem;
	line-height: 0.2rem;
	background: url(../../images/growth/heart.png) 0 center no-repeat;
	cursor: pointer;
}
.praiseBtn.hover{
	height: 0.25rem;
	font-size: 0.12rem;
	color: #666;
	display: inline-block;
	padding: 0 0.3rem 0 0.3rem;
	line-height: 0.25rem;
	background: url(../../images/growth/heart01.png) 0 center no-repeat;
	cursor: pointer;
}
.praiseBtn:hover,.praiseBtn.hover:hover{
	color: #5ae0e2;
}
.praiseListBox{
	background-color: #f7fafa;
	vertical-align: middle;
	margin-top: 0.2rem;
	border-radius: 0.1rem;
	line-height: 0.4rem;
}
.praiseBtn01 {
	display: inline-block;
	width: 0.3rem;
	height: 0.25rem;
	line-height: 0.4rem;
	margin: 0 0 -0.06rem 0.15rem; 
	background: url(../../images/growth/heart.png) center center no-repeat;
}
.praiseUserName{
	color: #5ae0e2;
	line-height: 0.4rem;
}
.praiseListBox >.praiseUserName:nth-of-type(2) >span{
	display: none;
}
.canDelete{
	color: #5cdee1;
	float: left;
	cursor: pointer;
}
.commentBtn{
	height: 0.25rem;
	line-height: 0.25rem;
	font-size: 0.12rem;
	color: #666;
	display: inline-block;
	padding: 0 0 0 0.3rem;
	background: url(../../images/growth/comment.png) 0 center no-repeat;
	cursor: pointer;
}
.commentBtn:hover{
	color: #5ae0e2;
}
.commentListBox {
	background-color: #f7fafa;
	vertical-align: middle;
	margin-top: 0.05rem;
	padding: 0.1rem 0.1rem;
	border-radius: 0.1rem;
	line-height: 0.28rem;
	font-size: 0.16rem;
}
.commentListBox >li{
	cursor: pointer;
	word-break:break-all;
	position: relative;
	padding: 0 0.1rem;
	font-size: 0.16rem;
}
.commentListBox >li:hover{
	background-color: #ececec;
}
.commentListBox >li >span.commentTip{
	display: none;
	width: 0.8rem;
	height: 0.4rem;
	position: absolute;
	font-size: 0.12rem;
	line-height: 0.5rem;
	text-align: center;
	z-index: 10;
	margin: 0.15rem 0 0 -0.3rem;
	background: url(../../images/growth/commentTip.png) 0 center no-repeat;
}
.commentListBox >li:hover >span.commentTip{
	display: inline-block;
}
.commentUserName,.replyUserName{
	color: #5ae0e2;
}
.commentContent{
	color: #666;
}
.commentDelete{
	display: none;
	float: right;
	cursor: pointer;
	color: #f8acaa;
	font-size: 0.14rem;
}
li:hover >.commentDelete{
	display: inline;
}
.commentInput{
	margin-top: 0.05rem;
	display: none;
	width: 100%;
	overflow: hidden;
}
.commentBox.active >.commentInput{
	display: block;
}
.commentInput > textarea {
	width: 100%;
	height: 1rem;
	padding: 0.1rem;
	border: 0.01rem solid #e7ecea;
	border-radius: 0.1rem;
}
.comment{
	width: 0.9rem;
	height: 0.4rem;
	background-color: #5cdfe2;
	border-radius: 0.1rem;
	text-align: center;
	line-height: 0.4rem;
	color: #fff;
	float: right;
	margin-top: 0.1rem;
	cursor: pointer;
	font-size: 0.14rem;
}
.comment:hover{
	background-color: #28d3d7;
}
.createUserPhoto{
	position: absolute;
	display: inline-block;
	width: 0.6rem;
	height: 0.6rem;
	border-radius: 0.3rem;
	border: 0.02rem solid #fff;
	left: -0.8rem;
	-webkit-background-size: contain;
	background-size: contain;
	cursor: pointer;
}
.createUserPhoto:hover{
	border: 0.02rem solid #5cdfe2;
}
.createUserName{
	color: #666;
	font-size: 0.18rem;
	line-height: 0.28rem;
	font-weight: 500;
}
.createUserName >.labelName{
	display: inline-block;
	height: 0.28rem;
	line-height: 0.26rem;
	border: 0.02rem solid #666;
	border-radius: 1rem;
	font-size: 0.14rem;
	padding:0 0.2rem;
	margin-left: 0.05rem;
	background-color: #f7bad6;
	color:#666;
}
.createTime{
	color: #979a99;
	font-size: 0.14rem;
}
.content{
	position:relative;
	color: #656565;
	font-size: 0.16rem;
  	line-height: 1.6em;
}
.fold,.foldPic{
	color: #5adfe1;
	cursor: pointer;
}
.foldBtn,.foldText{
	display: none;
}
.foldBtn.active,.foldText.active{
	display: inline;
	margin-left: -0.03rem;
}
/*main end*/

/*footer start*/
footer{
	height: 8rem;
	position: relative;
	background: url(../../images/growth/glass.png) center 100% no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
footer > span:nth-of-type(1) {
	position: absolute;
	bottom: 15%;
	right: 10%;
	display: inline-block;
	width: 3.8rem;
	height: 6rem;
	background: url(../../images/growth/flower.png) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
footer >span:nth-of-type(2){
	position: absolute;
	bottom: 10%;
	right: 70%;
	display: inline-block;
	width: 2.4rem;
	height: 1.6rem;
	background: url(../../images/growth/flower01.png) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
footer >span:nth-of-type(3){
	position: absolute;
	bottom: 0%;
	right: 50%;
	display: inline-block;
	width: 1.6rem;
	height: 1.2rem;
	background: url(../../images/growth/flower02.png) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
/*footer end*/