<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>文件中心</title>
	<meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="幼教产品" />
    <meta name="author" content="上海紫越网络科技有限公司" />
	<link rel="shortcut icon" href="../../images/favicon.png">

	<link href="../../css/common/base.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common/modal.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common/jquery.toast.min.css" rel="stylesheet">
    <link href="../../css/common/sweetalert.css" rel="stylesheet">
    
	<link href="../../css/common/sidebar.css" rel="stylesheet" type="text/css" />
	<link href="../../css/files/filesCenter.css?t=20180320" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<div id="page-container">
		<div id="sidebar" class="sidebar">
			<div id="sidebarBox">
				<div id="user">
					<div class="userPic"><a href="../../index.html">退出登录</a></div>
					<div class="userName"></div>
					<div class="userRole"></div>
				</div>
				<div id="home"> 
					<a class="homePic" href="../../menu.html">主页</a>
				</div>
				<ul id="subMenu"></ul>
				<script id="menu_script" type="text/html">
                    {{each arr as value i}}
                    <li class="has-list">
                        <a class="hasTitle {{if value.current}}active{{/if}}" href="{{value.url}}?pid={{value.pid}}&sid={{value.newId}}" data-id="{{value.id}}">{{value.name}}</a>
                    </li>
                    {{/each}}
                    <style>
                    {{each arr as value i}}
                        a.hasTitle[data-id="{{value.id}}"]{background-image: url({{path_img}}{{value.iconArr[0]}});background-size: 0.45rem;}
                        a.hasTitle[data-id="{{value.id}}"]:hover,a.hasTitle[data-id="{{value.id}}"].active{background-image: url({{path_img}}{{value.iconArr[1]}});border: 0.02rem solid #656868;background-color: #f7a48f;background-size: 0.45rem;}
                    {{/each}}
                    </style>
                </script>
			</div>
			<div id="switch" class=""><span></span></div>
		</div>

		<div id="content" class="content">
			<div class="pageTitle">文件中心</div>
            <div id="buttonBox"></div>
            <script type="text/html" id="buttonBox_script">
                {{each arr as value  i}}
                <a href="javascript:void(0);" id="{{value.buttonCode}}" class="defaultBtn"><span>{{value.name}}</span></a>
                {{/each}}
            </script>
			<div id="main">
                <div class="navgition">
                    <div id="breadBack" class="breadBack">返回上级</div>
                    <i class="folder-open"></i>
                    <div class="breadBox">
                        <span class="root">根目录</span>
                    </div>
                    <div id="tab" class="tab">
                        <span class="tab01" title="列表排列"></span>
                        <span class="tab02 current" title="图标排列"></span>
                    </div>
                </div>
                <div class="filesBox">
                    <div id="todolist"></div>
                    <script type="text/html" id="todolist_script">
                        <ul class="todolistBox {{if !isList}}current{{/if}}" id="todolistBox">
                            {{each arr as item i}}
                                <li data-fileuuid={{item.fileUUID}} class="{{item.fileExt}} list">
                                    <span class="{{item.fileExt}} pic" data-fileuuid="{{item.fileUUID}}" data-name="{{item.fileName}}" data-md5="{{item.fileMD5}}" data-type="{{item.fileType}}"></span><br>
                                    <span class="todoName {{item.fileExt}}" data-fileuuid="{{item.fileUUID}}" data-parentuuid="{{item.parentUUID}}" data-md5="{{item.fileMD5}}" data-name="{{item.fileName}}">{{item.fileName}}</span>
                                </li>
                            {{/each}}
                        </ul>
                        <ul class="todolistBox01 {{if isList}}current{{/if}}" id="todolistBox01">
                            <li>
                                <span class="col01"></span>
                                <span class="col02">名称</span>
                                <span class="col03">修改日期</span>
                                <span class="col04">文件类型</span>
                                <span class="col05">大小</span>
                            </li>
                            {{each arr as item i}}
                            <li data-fileuuid={{item.fileUUID}} class="{{item.fileExt}} list">
                                <span class="col01" data-fileuuid="{{item.fileUUID}}"><span class="todoName {{item.fileExt}}" data-fileuuid="{{item.fileUUID}}" data-parentuuid="{{item.parentUUID}}" data-md5="{{item.fileMD5}}" data-name="{{item.fileName}}"></span></span>
                                <span class="col02"><span class="{{item.fileExt}} pic" data-fileuuid="{{item.fileUUID}}" data-name="{{item.fileName}}" data-md5="{{item.fileMD5}}"></span>{{item.fileName}}</span>
                                <span class="col03">{{item.modificationTime01}}</span>
                                <span class="col04">{{item.fileExt01}}</span>
                                <span class="col05">{{item.fileSize}}{{if item.fileSize}}KB{{/if}}</span>
                            </li>
                            {{/each}}
                        </ul>
                    </script>
                </div>
			</div>
            <div class="progress" style="display: none;">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width: 0%;"></div>
            </div>
	    </div> 
	</div>

    <div class="modal fade" id="modal-newFolder" tabindex="0">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modalTitle">新建文件夹</div>
                <div class="labelBox">
                    <label>
                        文件夹名称：
                        <input id="newFolderInput" type="text">
                    </label>
                </div>
                <div><span id="newFolderBtn">确定</span></div>
            </div>
            <span class="closeBtn" data-dismiss="modal"></span>
        </div>
    </div>

    <div class="modal fade" id="modal-rename" tabindex="0">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modalTitle">重命名</div>
                <div class="labelBox">
                    <label>
                        新文件（夹）名称：
                        <input id="renameInput" type="text">
                    </label>
                </div>
                <div><span id="renameBtn">确定</span></div>
            </div>
            <span class="closeBtn" data-dismiss="modal"></span>
        </div>
    </div>

    <div class="modal fade" id="modal-dialog-img" tabindex="0">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="carousel_img"></div>
                <span class="closeBtn" data-dismiss="modal"></span>
            </div>
        </div>
    </div>

    <ul id="menu" class="menu">
        <li id="copy" class="copy default">复制</li>
        <li id="cut" class="cut default">剪切</li>
        <li id="paste" class="paste default">粘贴</li>
    </ul>
	<script src="../../js/common/jquery-1.11.1.min.js"></script>
	<script src="../../js/common/jquery.nicescroll.min.js?t=20180118"></script>
	<script src="../../js/common/template.js"></script>
    <script src="../../js/common/jquery.toast.min.js"></script>
    <script src="../../js/common/sweetalert.min.js"></script>
    <script src="../../js/common/modal.js"></script>
    <!-- <script src="../../js/common/plupload/moxie.js" ></script> -->
    <!-- <script src="../../js/common/plupload/plupload.dev.js" ></script> -->

    <script src="../../js/common/plupload/plupload.full.min.js" ></script>
    <script src="../../js/common/plupload/qiniu.js" ></script><!-- 上传插件 -->
    <script src="../../js/common/Sortable.js" charset="utf-8"></script>

	<script src="../../js/common/base.js?t=20171219"></script>
	<script src="../../js/files/filesCenter.js?t=20180320"></script>
</body>
</html>