<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>观察维度</title>
	<meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="幼教产品" />
    <meta name="author" content="上海紫越网络科技有限公司" />
	<link rel="shortcut icon" href="../../images/favicon.png">

	<link href="../../css/common/base.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common/jquery.toast.min.css" rel="stylesheet" />
    <link href="../../css/common/sweetalert.css" rel="stylesheet" />
    <link href="../../css/common/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
	<link href="./font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    
	<link href="../../css/common/sidebar.css" rel="stylesheet" type="text/css" />
    <link href="../../css/settings/watchDimensions.css" rel="stylesheet" />
</head>
<body>
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<div id="page-container" class="fade">
		<div id="sidebar" class="sidebar">
			<div id="sidebarBox">
				<div id="user">
					<div class="userPic"><a href="../../index.html">退出登录</a></div>
					<div class="userName"></div>
					<div class="userRole"></div>
				</div>
				<div id="home"> 
					<a class="homePic" href="../../menu.html">主页</a>
				</div>
				<ul id="subMenu"></ul>
				<script id="menu_script" type="text/html">
                    {{each arr as value i}}
                    <li class="has-list">
                        <a class="hasTitle {{if value.current}}active{{/if}}" href="{{value.url}}?pid={{value.pid}}&sid={{value.newId}}" data-id="{{value.id}}">{{value.name}}</a>
                    </li>
                    {{/each}}
                    <style>
                    {{each arr as value i}}
                        a.hasTitle[data-id="{{value.id}}"]{background-image: url({{path_img}}{{value.iconArr[0]}});background-size: 0.45rem;}
                        a.hasTitle[data-id="{{value.id}}"]:hover,a.hasTitle[data-id="{{value.id}}"].active{background-image: url({{path_img}}{{value.iconArr[1]}});border: 0.02rem solid #656868;background-color: #a8f8ee;background-size: 0.45rem;}
                    {{/each}}
                    </style>
                </script>
			</div>
			<div id="switch" class=""><span></span></div>
		</div>

		<div id="content" class="content">
			<div class="pageTitle">观察维度</div>
			<div id="main">
            <div class="row" id="row">
                <div class="panel panel-inverse">
                    <div class="panel-body" >
                        <div id="wacthtree">
                            <div id="trees"></div>
                            <script type="text/html" id="trees_script">
                                <ul>
                                    {{each data as A1 i}}
                                    <li class="has-sub01" data-dimid={{A1.id}} data-type={{A1.type}} data-level={{A1.level}} data-parentid=0 >
                                        <a href="javascript:;" data-dimid={{A1.id}} data-type={{A1.type}} data-level={{A1.level}} data-parentid=0 data-name={{A1.name}} style="position:relative;">
                                            {{A1.name}}<b>></b>
                                        </a>
                                        <ul class="sub-menu01" data-dimid={{A1.id}} data-level={{A1.level+1}} data-type={{A1.type}}>
                                            {{each A1.childDimList as B1 j}}
                                            <li class="has-sub02" data-dimid={{B1.id}}  data-parentid={{B1.parentid}} data-level={{B1.level}} data-type={{B1.type}}>
                                                <a href="javascript:;" data-dimid={{B1.id}}  data-parentid={{B1.parentid}} data-level={{B1.level}} data-type={{B1.type}} data-name={{B1.name}}>{{B1.name}}</a>
                                            </li>
                                            {{/each}}
                                            <li class="level01input">
                                                <input type="text" placeholder="请输入描述。。">
                                            </li>
                                            <li class="addbtn"></li>
                                        </ul>
                                    </li>
                                    {{/each}}
                                    <li class="level01input">
                                        <input type="text" placeholder="请输入描述。。" data-parentid="0" data-level="0" data-type="1">
                                    </li>
                                    <li class="maxAddBtn"></li>
                                </ul>
                            </script>
                            <div id="treesbody">
                                <div id="treesmain" style="min-height:100px;margin:20px 0 10px 0;"></div>
                                <script type="text/html" id="treesmain_script">
                                    <ul class="tree-menu" data-level={{newArr[0].level}}>
                                        <li class="leftArrow"></li>
                                        {{each newArr as item i}}
                                        <li class="list" data-dimid={{item.id}} data-parentid={{item.parentid}} data-level={{item.level}} data-type={{item.type}}>
                                            <a href="javascript:;" data-dimid={{item.id}} data-parentid={{item.parentid}} data-level={{item.level}} data-type={{item.type}} data-name='{{item.name}}'>{{item.name}}
                                            </a>
                                        </li>
                                        {{/each}}
                                        <li class="level01input">
                                            <input type="text" placeholder="请输入描述。。" data-level={{newArr[0].level}} data-parentid={{newArr[0].parentid}} data-type={{newArr[0].type}}>
                                        </li>
                                        <li class="addsmall"></li>
                                        <li class="rightArrow"></li>
                                    </ul>
                                </script>
                                <div class="treesbodytitle" style="clear:both;">
                                    <span>表现水平</span>
                                    <span class="downIcon"></span>
                                </div>
                                <div id="descTrees"></div>
                                <script type="text/html" id="descTrees_script">
                                    <ul style="width:2000px;">
                                        {{each data as item i}}
                                        <li class="descList" data-type={{item.type}} data-id={{item.id}} data-dimid={{item.dimId}}>
                                            <div class="descTitle">
                                                <span>
                                                    {{if item.type != 0  || companyUUID == 10086 || companyUUID ==264259}}
                                                    <span class="triangleLeft active" data-level="{{item.level}}"></span>
                                                    {{/if}}
                                                    表现水平{{item.level}}
                                                    {{if item.type != 0  || companyUUID == 10086 || companyUUID ==264259}}
                                                    <span class="triangleRight active" data-level="{{item.level}}"></span>
                                                    {{/if}}
                                                </span>
                                                <span class="closeBtn" data-id={{item.id}} data-dimid={{item.dimId}} data-type={{item.type}}></span>
                                            </div>
                                            <ul>
                                                <li class="descContext" style="position:relative;">
                                                    <span data-id={{item.id}} data-dimid={{item.dimId}} class="descBox">{{item.description}}</span>
                                                    <span>></span>
                                                    <input type="" name="" data-id={{item.id}} data-dimid={{item.dimId}} data-level={{item.level}} data-type={{item.type}} placeholder="请输入描述。。">
                                                </li>
                                            </ul>
                                        </li>
                                        {{/each}}
                                        {{if data[0].type != 0 || companyUUID == 10086 || companyUUID ==264259}}
                                        <li class="descListlast" data-dimid={{data[0].dimId}}></li>
                                        {{/if}}
                                    </ul>
                                </script>
                                <div class="form-group pull-right">
                                    <!-- <button type="submit" class="btn btn-sm btn-success finalbtn" id="finalBtn">完成</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
			</div>
	    </div> 
	</div>

    <ul id="menu"></ul>
	<script src="../../js/common/jquery-1.11.1.min.js"></script>
	<script src="../../js/common/jquery.nicescroll.min.js?t=20180118"></script>
	<script src="../../js/common/template.js"></script>
    <script src="../../js/common/jquery.toast.min.js"></script>
    <script src="../../js/common/sweetalert.min.js"></script>
    <script src="../../js/common/simplePagination.js" ></script>
    <script src="../../js/common/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

	<script src="../../js/common/base.js?t=20120213"></script>
	<script src="../../js/settings/wacthDimensions.js?t=20120213"></script>
</body>
</html>