<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>观察记录</title>
	<meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="幼教产品" />
    <meta name="author" content="上海紫越网络科技有限公司" />
	<link rel="shortcut icon" href="../../images/favicon.png">

	<link href="../../css/common/base.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common/modal.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common/jquery.toast.min.css" rel="stylesheet">
    <link href="../../css/common/sweetalert.css" rel="stylesheet">
	<link href="./font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../css/common/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="../../js/common/videojs/video-js.min.css" rel="stylesheet">

	<link href="../../css/common/sidebar.css" rel="stylesheet" type="text/css" />
	<link href="../../css/watch/watchRecord.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<div id="page-container" class="">
		<div id="sidebar" class="sidebar">
			<div id="sidebarBox">
				<div id="user">
					<div class="userPic"><a href="../../index.html">退出登录</a></div>
					<div class="userName"></div>
					<div class="userRole"></div>
				</div>
				<div id="home"> 
					<a class="homePic" href="../../menu.html">主页</a>
				</div>
				<ul id="subMenu"></ul>
				<script id="menu_script" type="text/html">
					{{each arr as value i}}
					<li class="has-list">
						<a class="hasTitle {{if value.current}}active{{/if}}" href="{{value.url}}?pid={{value.pid}}&sid={{value.newId}}" data-id="{{value.id}}">{{value.name}}</a>
					</li>
					{{/each}}
                    <style>
                    {{each arr as value i}}
                        a.hasTitle[data-id="{{value.id}}"]{background-image: url({{path_img}}{{value.iconArr[0]}});}
                        a.hasTitle[data-id="{{value.id}}"]:hover,a.hasTitle[data-id="{{value.id}}"].active{background-image: url({{path_img}}{{value.iconArr[1]}});border: 0.02rem solid #656868;background-color: #f3b369;}
                    {{/each}}
                    </style>
				</script>
			</div>
			<div id="switch" class=""><span></span></div>
		</div>

		<div id="content" class="content">
			<div class="pageTitle">观察记录</div>
			<div id="search">
                <label>
                    任职班级：
                    <select id="teacherClass"></select>
                    <script id="teacherClass_script" type="text/html">
                        {{each arr as value i}}
                        <option value="{{value.classUuid}}">{{value.className}}</option>
                        {{/each}}
                    </script>
                </label>
                <label>
                    观察人：
                    <select id="teachers"></select>
                    <script type="text/html" id="teachers_script">
                        <option value="" selected="selected">所有老师</option>
                        {{each arr as value i}}
                        <option value="{{value.teacherUuid}}" data-teacherid="{{value.teacherUuid}}">{{value.teacherName}}</option>
                        {{/each}}
                    </script>
                </label>
                <label>
                    关联课程：
                    <select id="courses"></select>
                    <script type="text/html" id="courses_script">
                        <option value="" selected="true">所有课程</option>
                        {{each arr as value i}}
                        <option value="{{value.id}}" data-id="{{value.id}}" >{{value.name}}</option>
                        {{/each}}
                    </script>
                </label>
                <label>
                    关联指标：
                    <select id="coursesDim"></select>
                    <script type="text/html" id="coursesDim_script">
                        <option value="" selected="selected">所有指标</option>
                        {{each arr as value i}}
                        <option value="{{value.id}}" data-id="{{value.id}}" >{{value.name}}</option>
                        {{/each}}
                    </script>
                </label>
                <label>
                    年份：
                    <select id="year01"></select>
                    <script id="year_script" type="text/html">
                        <option value="" selected="selected">所有年份</option>
                        {{each arr as value i}}
                        <option value="{{value}}">{{value}}年</option>
                        {{/each}}
                    </script>
                </label>
                <label>
                    月份：
                    <select id="month01">
                    </select>
                    <script type="text/html" id="month_script">
                        {{each month as value i}}
                        <option value="{{value}}">{{value}}月</option>
                        {{/each}}
                    </script>
                </label>
                <label>
                    <span id="searchBtn">查询</span>
                </label>
			</div>
			<div id="buttonBox">
                <script type="text/html" id="buttonBox_script">
                {{each arr as value  i}}
                    <a href="javascript:void(0);" id="{{value.buttonCode}}" class="defaultBtn"><span>{{value.name}}</span></a>
                {{/each}}
                </script>
			</div>




			<div id="main">
				<ul id="members"></ul>
                <script type="text/html" id="members_script">
                    {{each data as value i}}
                    <li>
                        <a class="membersBg" data-username="{{value.userName}}" data-useruuid="{{value.userUuid}}" style="background-image: url({{value.portrait}});" href="#modal-dialog-qunzu" data-toggle="modal001">
                            <div>
                                <span class="icon01">{{value.recordNum}}</span>
                                {{if value.evaNum==0}}
                                <span class="icon02 redBtn" >{{value.evaNum}}</span>
                                {{else}}
                                <span class="icon02">{{value.evaNum}}</span>
                                {{/if}}
                            </div>
                        </a>
                        <div class="membersTitle"><span data-useruuid="{{value.userUuid}}" class="unchecked">{{value.userName}}</span></div>
                    </li>
                    {{/each}}
                </script>
			</div>
	    </div>

        <div id="content01" class="content hide">
            <div class="pageTitle"></div>
            <div>
                <a href="javascript:void(0);" class="backBtn tip defaultBtn"><span>返回上级</span></a>
                <a href="javascript:void(0);" id="newBtn" class="defaultBtn"><span>新增</span></a>
            </div>
            <div>
                <h1 class="page-header" id="page-header"></h1>
                <script id="page-header_script" type="text/html">
                    <span>关联课程：{{courses}}</span>
                    <span>关联指标：{{coursesDim}}</span>
                    <span>{{year}}</span>
                    <span>{{month}}</span>
                </script>
                <div class="email-btn-row hidden-xs">
                    <span>未评价</span>
                    <span>典型案例</span>
                </div>
            </div>
            <div class="panel panel-inverse" style="text-align: center;">
                <div class="email-content" id="email-content"></div>
                <script type="text/html" id="table-email">
                    <table class="table table-email">
                        <thead>
                            <tr>
                                <th style="text-align: center;width: 10%;">序号</th>
                                <th style="text-align: center;width: 15%;">记录时间</th>
                                <th style="text-align: center;width: 15%;">观察人</th>
                                <th style="text-align: center;width: 20%;">观察维度</th>
                                <th style="text-align: center;width: 15%;">评价状态</th>
                                <th style="text-align: center;width: 10%;"></th>
                                <th style="text-align: center;width: 15%;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{each list as item i}}
                            <tr data-id="{{item.id}}">
                                <td class="email-sender">{{i+1}}</td>
                                <td class="email-sender">{{item.createDate}}</td>
                                <td class="email-sender">{{item.createUserName}}</td>
                                <td class="email-sender">{{item.dimName}}</td>
                                <td class="email-sender">
                                    {{if item.state=="0"}}
                                        <span class="unRead"></span>
                                    {{else}}
                                        {{item.state}}
                                    {{/if}}
                                </td>
                                <td class="email-sender">{{if item.typical ==1}}<span class="typical"></span>{{/if}}</td>
                                <td class="controllBtn">
                                    {{if item.canDelete ==1}}
                                    <span class="parentEdit" data-id="{{item.id}}"></span>
                                    <span class="parentDelete" data-id="{{item.id}}" data-delete="{{item.canDelete}}"></span>
                                    {{/if}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </script>
                <ul id="pagination"></ul>
            </div>
        </div>

        <div id="content02" class="content hide">
            <div class="pageTitle"><span></span><small>新增</small></div>
            <div>
                <a href="javascript:void(0);" class="backBtn tip defaultBtn"><span>返回上级</span></a>
            </div>
            <div class="panel-inverse" style="margin-top: 0.2rem;">
                <div class="panel-body" id="evaluation"></div>
                <script type="text/html" id="evaluation_script">
                    <div class="col-md-12">
                        <div class="panelBox newLevel">
                            <h4 class="title">观察维度：<span id="addIcon"></span></h4>
                            <div id="addDim"></div>
                        </div>

                        <div class="panelBox editLevel">
                            <span>记录时间：{{createDate}}</span>
                            <span>观察维度： <span class="subTitle">{{dimName}}</span></span>
                            <span>观察人：{{observerName}}</span>
                        </div>
                        
                        <div class="panelBox">
                            <h4 class="title">记录信息- <span class="subTitle">{{dimName}}</span></h4>
                            {{if typical ==1}}
                            <img src="../../images/watch/typicalIcon.png" alt="典型案例" class="typicalIcon">
                            {{/if}}

                            <div>
                                <span class="col01 middle">文字：</span>
                                <span class="col02">
                                    <textarea id="comment" class="form-control validate {{if commentNum>1000}}max{{/if}}" placeholder="请输入文字记录..." rows="5" maxlength="1000">{{comment}}</textarea>
                                    <div class="maxNum"><span class="{{if commentNum>1000}}max{{/if}}">{{commentNum}}</span>/1000</div>
                                </span>
                            </div>

                            <div>
                                <span class="col01">图片：</span>
                                <span class="col02">
                                    <ul id="carousel">
                                        {{each pictureList as value i}}
                                        <li data-pic="{{value}}" class="picItem">
                                            <a href="#modal-dialog-img" data-toggle="modal" data-src="{{path_img}}{{value}}" class="pic" data-pic="{{value}}">
                                                <img src="{{path_img}}{{value}}-scale200">
                                                <span class="deleteBtn"></span>
                                            </a>
                                        </li>
                                        {{/each}}
                                        <li class="addPicBox">
                                            <a href="#" id="addPicBtn"></a>
                                        </li>
                                    </ul>
                                </span>
                            </div>

                            <div>
                                <span class="col01">短视频：</span>
                                <span class="col02">
                                    <ul class="voiceList"> 
                                        {{each videoList as value i}}
                                        <li>
                                            <a href="#modal-dialog-video" data-toggle="modal" data-src="{{path_img}}{{value}}" class="pic" data-pic="{{value}}">
                                                <img src='../../images/watch/play.png' class='mascot'>
                                                <span class="deleteBtn"></span>
                                            </a>
                                        </li>
                                        {{/each}}
                                        <li class="addPicBox">
                                            <a href="#" id="addPicBtn02"></a>
                                        </li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        
                        <div class="panelBox {{if !isMySelf}}isMySelf{{/if}} isMySelf01">
                            <h4 class="title">发展水平（<i class="redIcon">*</i>为必填项）- <span class="subTitle">{{dimName}}</span></h4>
                            <div>
                                <span class="col01"><i class="redIcon">*</i>选择水平：</span>
                                <span class="col02">
                                    <select class="form-control" id="level">
                                        <option value="" data-desc="">请选择</option>
                                        {{each dimLevelList as value i}}
                                        <option value="{{value.id}}" data-id="{{value.id}}" data-desc="{{value.description}}">水平{{value.level}}:{{value.description}}</option>
                                        {{/each}}
                                    </select>
                                </span>
                            </div>
                            <div class="description">
                                <span class="col01 middle">水平描述：</span>
                                <span class="col02">
                                   <div class="form-control" id="description"></div>
                                </span>
                            </div>
                            <div>
                                <span class="col01 middle">评语：</span>
                                <span class="col02">
                                    <textarea class="form-control validate {{if evaluateNum>1000}}max{{/if}}" placeholder="请写下您的评语..." rows="7" id="evaluate" maxlength="1000"></textarea>
                                    <div class="maxNum"><span class="{{if evaluateNum>1000}}max{{/if}}">{{evaluateNum}}</span>/1000</div>
                                </span>
                            </div>
                            <div>
                                <span class="col01 middle">建议策略：</span>
                                <span class="col02">
                                    <textarea class="form-control validate {{if adviceNum>1000}}max{{/if}}" placeholder="请填写建议策略..." rows="7" id="advice" maxlength="1000"></textarea>
                                    <div class="maxNum"><span class="{{if adviceNum>1000}}max{{/if}}">{{adviceNum}}</span>/1000</div>
                                </span>
                            </div>
                        </div>

                        <div class="panelBox {{if isMySelf}}isMySelf{{/if}} isMySelf02">
                            <h4 class="title">发展水平 - <span class="subTitle">{{dimName}}</span></h4>
                            <div>
                                <span id="curLevel"></span>
                            </div>
                        </div>

                        <div class="panelBox noLooking">
                            <h4 class="title">设置- <span class="subTitle">{{dimName}}</span></h4>
                            <div class="timeBox">
                                <span class="col01">时间设置：</span>
                                <span class="col02">
                                   <div><span class="timeBtn defaultTime {{if timeType ==0}}active{{/if}}"><i></i>默认</span></div>
                                   <div><span class="timeBtn {{if timeType ==1}}active{{/if}}"><i></i>自定义时间</span></div>
                                   <div class="timePlug">
                                        <input id="timeSetting" readonly="readonly" type="text" {{if timeType ==0}}disabled="disabled"{{/if}}>
                                        <select name="" id="timeHour" {{if timeType ==0}}disabled="disabled"{{/if}}>
                                            {{each hour as value i}}
                                            <option value="{{value}}">{{if value <10}}0{{value}}{{else}}{{value}}{{/if}}</option>
                                            {{/each}}
                                        </select>时
                                        <select name="" id="timeMinute" {{if timeType ==0}}disabled="disabled"{{/if}}>
                                            {{each minute as value i}}
                                            <option value="{{value}}">{{if value <10}}0{{value}}{{else}}{{value}}{{/if}}</option>
                                            {{/each}}
                                        </select>分
                                   </div>
                                </span>
                            </div>
                            <div class="setting">
                                <span><i class="switchBtn typical {{if typical==1}}active{{/if}}"></i>标记为典型案例</span>
                                <span><i class="switchBtn share {{if share==1}}active{{/if}}"></i>向家长共享记录信息</span>
                            </div>
                        </div>

                        {{if isMySelf}}
                        <div class="panelBox looking">
                            <h4 class="title">设置- <span class="subTitle">{{dimName}}</span></h4>
                            <div>
                                {{if timeType ==1}}
                                <span class="col01 top">时间设置：自定义时间 {{createDate}}</span>
                                {{/if}}
                            </div>
                            <div class="setting01">
                                {{if typical==1}}<span><i class="switchBtn01"></i>标记为典型案例</span>{{/if}}
                                {{if share==1}}<span><i class="switchBtn01"></i>向家长共享记录信息</span>{{/if}}
                            </div>
                        </div>
                        {{/if}}
                        
                        <div class="absolute">
                            <button type="submit" class="btn btn-sm btn-success" id="finalBtn" data-id="{{recordId}}">确定</button>
                        </div>
                    </div>
                </script>
                <script id="addDim_script" type="text/html">
                    {{each arr as value i}}
                    <span data-id="{{value.id}}" >{{value.name}}<span class="deleteBtn"></span></span>
                    {{/each}}
                </script>
                <script id="level_script" type="text/html">
                    <option value="" data-desc="">请选择</option>
                    {{each arr as value i}}
                    <option value="{{value.id}}" data-id="{{value.id}}" data-desc="{{value.description}}">水平{{value.level}}:{{value.description}}</option>
                    {{/each}}
                </script>
                <script id="pictureList_script" type="text/html">
                    {{each pictureList as value i}}
                    <li data-pic="{{value}}" class="picItem">
                        <a href="#modal-dialog-img" data-toggle="modal" data-src="{{path_img}}{{value}}" class="pic" data-pic="{{value}}">
                            <img src="{{path_img}}{{value}}-scale200">
                            <span class="deleteBtn"></span>
                        </a>
                    </li>
                    {{/each}}
                </script>
                <script id="videoList_script" type="text/html">
                    {{each videoList as value i}}
                    <li>
                        <a href="#modal-dialog-video" data-toggle="modal" data-src="{{path_img}}{{value}}" class="pic" data-pic="{{value}}">
                            <img src="../../images/watch/play.png" class="mascot">
                            <span class="deleteBtn"></span>
                        </a>
                    </li>
                    {{/each}}
                </script>
            </div> 
        </div>

	</div>

    <div class="modal fade" id="modal-dialog-qunzu" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="dimBox"></div>
                <script id="dimBox_script" type="text/html">
                    <div class="modal-header">
                        <ul>
                        {{each arr as value i}}
                        <li data-courseid="{{value.courseId}}" class="dimHeader {{if i==0}}active{{/if}}">{{value.courseName}}</li>
                        {{/each}}
                        </ul>
                    </div>
                    <div class="modal-body">
                        <ul>
                        {{each arr as value i}}
                        <li data-courseid="{{value.courseId}}" class="dimBody {{if i==0}}active{{/if}}">
                            <ul>
                                {{each value.dimStructureList as value01 j}}
                                <li>
                                    <div class="dimTitle" data-id="{{value01.id}}">{{value01.name}}</div>
                                    <div>
                                        {{each value01.list as value02 n}}
                                        <span data-id="{{value02.id}}" class="dimPiece">{{value02.name}}</span>
                                        {{/each}}
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                        </ul>
                    </div>
                    <div class="modal-footer"><span>确定</span></div>
                </script>
                <span class="closeBtn" data-dismiss="modal"></span>
            </div>
            <div id="imgBg"></div>
        </div>
    </div>

    <div class="modal fade" id="modal-dialog-img" tabindex="0">
        <div class="modal-dialog">
            <div class="modal-content">
                <span class="prevBtn"></span>
                <div id="carousel_img"></div>
                <span class="nextBtn"></span>
            </div>
        </div>
        <span class="closeBtn01" data-dismiss="modal"></span>
        <span class="deleteBtn01 hide"></span>
    </div>

    <div class="modal fade" id="modal-dialog-video" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="video_img">
                    <video id="my-player" class="video-js" controls preload="auto" poster="#" data-setup='{}'>
                    </video>
                </div>
            </div>
        </div>
        <span class="closeBtn01" data-dismiss="modal"></span>
    </div>

	<script src="../../js/common/jquery-1.11.1.min.js"></script>
	<script src="../../js/common/jquery.nicescroll.min.js?t=20180118"></script>
	<script src="../../js/common/template.js"></script>
    <script src="../../js/common/jquery.toast.min.js"></script>
    <script src="../../js/common/sweetalert.min.js"></script>
    <script src="../../js/common/simplePagination.js" ></script>
    <script src="../../js/common/modal.js"></script>
    <script src="../../js/common/plupload/plupload.full.min.js" ></script>
    <script src="../../js/common/plupload/qiniu.js" ></script>
    <script src="../../js/common/videojs/video.min.js" ></script>
    <script src="../../js/common/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

	<script src="../../js/common/base.js?t=20180427"></script>
	<script src="../../js/watch/watchRecord.js?t=20180427"></script>
</body>
</html>