<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>观察记录</title>
	<meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="幼教产品" />
    <meta name="author" content="上海紫越网络科技有限公司" />
	<link rel="shortcut icon" href="../../images/favicon.png">

	<link href="../../css/common/base.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common/modal.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common/jquery.toast.min.css" rel="stylesheet">
    <link href="../../css/common/sweetalert.css" rel="stylesheet">
	<link href="./font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    
	<link href="../../css/common/sidebar.css" rel="stylesheet" type="text/css" />
	<link href="../../css/watch/watchRecord.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<div id="page-container" class="">
		<div id="sidebar" class="sidebar">
			<div id="sidebarBox">
				<div id="user">
					<div class="userPic"><a href="../../index.html">退出登录</a></div>
					<div class="userName"></div>
					<div class="userRole"></div>
				</div>
				<div id="home"> 
					<a class="homePic" href="../../menu.html">主页</a>
				</div>
				<ul id="subMenu"></ul>
				<script id="menu_script" type="text/html">
					{{each arr as value i}}
					<li class="has-list">
						<a class="hasTitle {{if value.current}}active{{/if}}" href="{{value.url}}?pid={{value.pid}}&sid={{value.newId}}" data-id="{{value.id}}">{{value.name}}</a>
					</li>
					{{/each}}
                    <style>
                    {{each arr as value i}}
                        a.hasTitle[data-id="{{value.id}}"]{background-image: url({{path_img}}{{value.iconArr[0]}});}
                        a.hasTitle[data-id="{{value.id}}"]:hover,a.hasTitle[data-id="{{value.id}}"].active{background-image: url({{path_img}}{{value.iconArr[1]}});border: 0.02rem solid #656868;background-color: #f3b369;}
                    {{/each}}
                    </style>
				</script>
			</div>
			<div id="switch" class=""><span></span></div>
		</div>

		<div id="content" class="content">
			<div class="pageTitle">观察记录</div>
			<div id="search">
                <label>
                    任职班级：
                    <select id="teacherClass"></select>
                    <script id="teacherClass_script" type="text/html">
                        {{each arr as value i}}
                        <option value="{{value.classUuid}}">{{value.className}}</option>
                        {{/each}}
                    </script>
                </label>
                <label>
                    观察人：
                    <select id="teachers"></select>
                    <script type="text/html" id="teachers_script">
                        <option value="" selected="selected">所有老师</option>
                        {{each arr as value i}}
                        <option value="{{value.teacherUuid}}" data-teacherid="{{value.teacherUuid}}">{{value.teacherName}}</option>
                        {{/each}}
                    </script>
                </label>
                <label>
                    关联课程：
                    <select id="courses"></select>
                    <script type="text/html" id="courses_script">
                        <option value="" selected="true">所有课程</option>
                        {{each arr as value i}}
                        <option value="{{value.id}}" data-id="{{value.id}}" >{{value.name}}</option>
                        {{/each}}
                    </script>
                </label>
                <label>
                    关联指标：
                    <select id="coursesDim"></select>
                    <script type="text/html" id="coursesDim_script">
                        <option value="" selected="selected">所有指标</option>
                        {{each arr as value i}}
                        <option value="{{value.id}}" data-id="{{value.id}}" >{{value.name}}</option>
                        {{/each}}
                    </script>
                </label>
                <label>
                    年份：
                    <select id="year01">
                        <option value="" selected="selected">所有年份</option>
                        <option value="2016">2016年</option>
                        <option value="2017">2017年</option>
                    </select>
                </label>
                <label>
                    月份：
                    <select id="month01">
                    </select>
                    <script type="text/html" id="month_script">
                        {{each month as value i}}
                        <option value="{{value}}">{{value}}月</option>
                        {{/each}}
                    </script>
                </label>
                <label>
                    <span id="searchBtn">查询</span>
                </label>
			</div>
			<div id="buttonBox">
                <script type="text/html" id="buttonBox_script">
                {{each arr as value  i}}
                    <a href="javascript:void(0);" id="{{value.buttonCode}}" class="defaultBtn"><span>{{value.name}}</span></a>
                {{/each}}
                </script>
			</div>




			<div id="main">
				<ul id="members"></ul>
                <script type="text/html" id="members_script">
                    {{each data as value i}}
                    <li>
                        <a class="membersBg" data-username="{{value.userName}}" data-useruuid="{{value.userUuid}}" style="background-image: url({{value.portrait}});" href="#modal-dialog-qunzu" data-toggle="modal">
                            <div>
                                <span class="icon01">{{value.recordNum}}</span>
                                {{if value.evaNum==0}}
                                <span class="icon02 redBtn" >{{value.evaNum}}</span>
                                {{else}}
                                <span class="icon02">{{value.evaNum}}</span>
                                {{/if}}
                            </div>
                        </a>
                        <div class="membersTitle"><span data-useruuid="{{value.userUuid}}" class="unchecked">{{value.userName}}</span></div>
                    </li>
                    {{/each}}
                </script>
			</div>
	    </div> 
	</div>

    <div class="modal fade" id="modal-dialog-qunzu" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="col-md-6 first-content">
                    <h1 class="page-header" id="page-header"></h1>
                    <script id="page-header_script" type="text/html">
                        <i class="curName"></i>
                        <span>关联课程：{{courses}}</span>
                        <span>关联指标：{{coursesDim}}</span>
                        <span>{{year}}</span>
                        <span>{{month}}</span>
                    </script>
                    <!--begin 功能板块 -->
                    <div class="email-btn-row hidden-xs">
                        <a href="#" class="defaultBtn" id="dailyEvaluationDelete" data-childid=""><span>删除</span></a>
                        <span>未评价</span>
                        <span>典型案例</span>
                    </div>
                    <div class="panel panel-inverse" style="text-align: center;">
                        <div class="email-content" id="email-content"></div>
                        <script type="text/html" id="table-email">
                            <table class="table table-email">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;width: 5%;" class="email-select"><a href="#" data-click="email-select-all"></a></th>
                                        <th style="text-align: center;width: 5%;">ID</th>
                                        <th style="text-align: center;width: 15%;">记录时间</th>
                                        <th style="text-align: center;width: 15%;">观察人</th>
                                        <th style="text-align: center;width: 15%;">观察维度</th>
                                        <th style="text-align: center;width: 15%;">评价状态</th>
                                        <th style="text-align: center;width: 15%;">评价时间</th>
                                        <th style="text-align: center;width: 15%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{each list as item i}}
                                    <tr>
                                        <td class="email-select">
                                            <a href="#" data-click="email-select-single"><i class="fa fa-square-o fa-fw" data-id={{item.id}}></i></a>
                                        </td>
                                        <td class="email-sender">{{item.id}}</td>
                                        <td class="email-sender">{{item.createDate}}</td>
                                        <td class="email-sender">{{item.createUserName}}</td>
                                        <td class="email-sender">{{item.dimName}}</td>
                                        <td class="email-sender">
                                            {{if item.state=="0"}}
                                                <span class="unRead"></span>
                                            {{else}}
                                                {{item.state}}
                                            {{/if}}
                                        </td>
                                        <td class="email-sender">{{item.evaluateDate}}</td>
                                        <td class="email-sender">{{if item.typical ==1}}<span class="typical"></span>{{/if}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </script>
                        <ul id="pagination"></ul>
                    </div>
                               
                </div>


                <!-- 评价区域 -->
                <div class="col-md-6 second-content" id="second-content">
                    <div class="panel panel-inverse">
                        <div class="panel-body" id="evaluation"></div>
                        <script type="text/html" id="evaluation_script">
                            <div class="col-md-12">
                                <h4 class="title">记录信息</h4>
                                {{if typical ==1}}
                                <img src="../../images/watch/typicalIcon.png" alt="典型案例" class="typicalIcon">
                                {{/if}}
                                <div class="col-md-12 ui-sortable dimBox" style="padding-bottom:10px; background:#fff">
                                    <div class="form-group col-md-6"><span>姓名：</span>{{childUserName}}</div>
                                    <div class="form-group col-md-6"><span>关联课程：</span>{{courseName}}</div>
                                    <div class="form-group col-md-6"><span>关联观察维度：</span>{{dimName}}</div>
                                    <div class="form-group col-md-6"><span>记录时间：</span>{{createDate}}</div>
                                </div>
                                
                                <div class="ui-sortable">
                                    <h4 class="title">图片记录</h4>
                                    <ul id="carousel">
                                        {{each picMd5List as value i}}
                                        <li>
                                            <a href="#modal-dialog-img" data-toggle="modal" data-src="{{path_img}}{{value}}" class="pic" data-pic="{{value}}">
                                                <img src="{{path_img}}{{value}}-scale200">
                                                <span class="deleteBtn"></span>
                                            </a>
                                        </li>
                                        {{/each}}
                                        <li>
                                            <a href="#" id="addPicBtn"></a>
                                        </li>
                                    </ul>
                                    <h4 class="title">音频记录</h4>
                                    <ul class="voiceList"> 
                                        {{each voiceMd5List as value i}}
                                        <li>
                                            <audio controls="controls" src="{{value}}"></audio>
                                        </li>
                                        {{/each}}
                                    </ul>
                                    <h4 class="title">文字记录</h4>
                                    <div class="col-md-12 ui-sortable">
                                        <textarea id="comment" class="form-control validate {{if commentNum>1000}}max{{/if}}" placeholder="请输入文字记录..." rows="5">{{comment}}</textarea>
                                        <div class="maxNum"><span class="{{if commentNum>1000}}max{{/if}}">{{commentNum}}</span>/1000</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                                   
                                <h4 class="title">我的评价</h4>
                                <div class="col-md-12">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label ui-sortable">水平</label>
                                            <div class="col-md-10 ui-sortable">
                                                <select class="form-control" id="level">
                                                    <option value="" data-desc="">请选择</option>
                                                    {{each recordLevel.dimLevelVOList as value i}}
                                                    <option value="{{value.id}}" data-id="{{value.id}}" data-desc="{{value.description}}">{{value.level}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label ui-sortable">水平描述</label>
                                            <div class="col-md-10 ui-sortable">
                                                <div class="form-control" id="description"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label ui-sortable"> 评语</label>
                                            <div class="col-md-10 ui-sortable">
                                                <textarea class="form-control validate {{if recordLevel.evaluateNum>1000}}max{{/if}}" placeholder="请写下您的评语..." rows="7" id="evaluate"></textarea>
                                                <div class="maxNum"><span class="{{if recordLevel.evaluateNum>1000}}max{{/if}}">{{recordLevel.evaluateNum}}</span>/1000</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label ui-sortable"> 建议策略</label>
                                            <div class="col-md-10 ui-sortable">
                                                <textarea class="form-control validate {{if recordLevel.adviceNum>1000}}max{{/if}}" placeholder="请填写建议策略..." rows="7" id="advice"></textarea>
                                                <div class="maxNum"><span class="{{if recordLevel.adviceNum>1000}}max{{/if}}">{{recordLevel.adviceNum}}</span>/1000</div>
                                            </div>
                                        </div>
                                    </form>        
                                </div>

                                <h4 class="title">典型案例</h4>
                                <div class="col-md-12 ui-sortable" style="padding-bottom: 20px;">
                                    是否标记为典型案例:
                                    <span id="switchBtn" {{if typical==1}} class="has-hover" {{else}} class="has-hover off" {{/if}} ></span>
                                </div>

                                <h4 class="title">共享评价</h4>
                                <div class="col-md-12 ui-sortable">
                                    是否向家长共享评价信息:
                                    <span id="switchBtn01" {{if recordLevel.share==1}} class="has-hover" {{else}} class="has-hover off" {{/if}}></span>
                                </div>
                                
                                <div class="form-group pull-right" style="margin-top:20px">
                                    <div class="col-md-12 ui-sortable">
                                        {{if operation == 1}}
                                        <button type="submit" class="btn btn-sm btn-success" id="finalBtn" data-id="{{id}}">提交</button>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </script>
                    </div>       
                </div>

                <span class="closeBtn" data-dismiss="modal"></span>
                <div style="clear:both"></div>
            </div>
            <div id="imgBg"></div>
        </div>
    </div>

    <div class="modal fade" id="modal-dialog-img" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="carousel_img"></div>
                <span class="closeBtn" data-dismiss="modal"></span>
            </div>
        </div>
    </div>

	<script src="../../js/common/jquery-1.11.1.min.js"></script>
	<script src="../../js/common/jquery.nicescroll.min.js"></script>
	<script src="../../js/common/template.js"></script>
    <script src="../../js/common/jquery.toast.min.js"></script>
    <script src="../../js/common/sweetalert.min.js"></script>
    <script src="../../js/common/simplePagination.js" ></script>
    <script src="../../js/common/modal.js"></script>
    <script src="../../js/common/plupload/plupload.full.min.js" ></script>
    <script src="../../js/common/plupload/qiniu.js" ></script>

	<script src="../../js/common/base.js?t=20171116"></script>
	<script src="../../js/watch/watchRecord.js?t=20171116"></script>
</body>
</html>