<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>观察记录</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="幼教产品" name="description" />
	<meta content="上海紫越网络科技有限公司" name="author" />
	<link rel="shortcut icon" href="../../images/favicon.png">

	<!-- <link href="../../css/common/bootstrap.min.css" rel="stylesheet" /> -->
    <!-- <link href="../../plugins/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet" /> -->
	<link href="../../css/common/base.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common/modal.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common/jquery.toast.min.css" rel="stylesheet">
    <link href="../../css/common/sweetalert.css" rel="stylesheet">
    <!-- <link href="../../css/common/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" /> -->
	<link href="./font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    

	<link href="../../css/common/sidebar.css" rel="stylesheet" type="text/css" />
	<link href="../../css/watch/watchRecord.css" rel="stylesheet" type="text/css" />
    <link href="../../css/teaching/dailyEvaluation.css" rel="stylesheet" />
</head>
<body>
	<div id="page-loader" class="fade in hide"><span class="spinner"></span></div>
	<div id="page-container" class="">
		<div id="sidebar" class="sidebar">
			<div id="sidebarBox">
				<div id="user">
					<div class="userPic"></div>
					<div class="userName"></div>
					<div class="userRole"></div>
				</div>
				<div id="home"> 
					<a class="homePic" href="../../menu.html">主页</a>
				</div>
				<ul id="subMenu"></ul>
				<script id="menu_script" type="text/html">
					{{each arr as value i}}
					<li class="has-list">
						<a class="hasTitle {{if value.current}}active{{/if}}" href="{{value.url}}?pid={{value.pid}}&sid={{value.id}}" data-id="{{value.id}}">{{value.name}}</a>
					</li>
					{{/each}}
                    <style>
                    {{each arr as value i}}
                        a.hasTitle[data-id="{{value.id}}"]{background-image: url({{path_img}}{{value.iconArr[0]}}&minpic=0);}
                        a.hasTitle[data-id="{{value.id}}"]:hover,a.hasTitle[data-id="{{value.id}}"].active{background-image: url({{path_img}}{{value.iconArr[1]}}&minpic=0);border: 0.02rem solid #656868;background-color: #f3b369;}
                    {{/each}}
                    </style>
				</script>
			</div>
			<div id="switch" class=""><span></span></div>
		</div>

		<div id="content" class="content">
			<div class="pageTitle">观察记录</div>
			<div id="search">
                <label>
                    任职班级：
                    <select id="teacherClass"></select>
                    <script id="teacherClass_script" type="text/html">
                        {{each arr as value i}}
                        <option value="{{value.classUuid}}">{{value.className}}</option>
                        {{/each}}
                    </script>
                </label>
                <label>
                    观察人：
                    <select id="teachers"></select>
                    <script type="text/html" id="teachers_script">
                        <option value="" selected="selected">所有老师</option>
                        {{each arr as value i}}
                        <option value="{{value.id}}" data-teacherid="{{value.teacherUuid}}">{{value.teacherName}}</option>
                        {{/each}}
                    </script>
                </label>
                <label>
                    关联课程：
                    <select id="courses"></select>
                    <script type="text/html" id="courses_script">
                        <option value="" selected="true">所有课程</option>
                        {{each arr as value i}}
                        <option value="{{value.id}}" data-id="{{value.id}}" >{{value.name}}</option>
                        {{/each}}
                    </script>
                </label>
                <label>
                    关联指标：
                    <select id="coursesDim"></select>
                    <script type="text/html" id="coursesDim_script">
                        <option value="" selected="selected">所有指标</option>
                        {{each arr as value i}}
                        <option value="{{value.id}}" data-id="{{value.id}}" >{{value.name}}</option>
                        {{/each}}
                    </script>
                </label>
                <label>
                    年份：
                    <select id="year01">
                        <option value="" selected="selected">所有年份</option>
                        <option value="2016">2016年</option>
                        <option value="2017">2017年</option>
                    </select>
                </label>
                <label>
                    月份：
                    <select id="month01">
                    </select>
                    <script type="text/html" id="month_script">
                        <option value="" selected="selected">所有月份</option>
                        {{each month as value i}}
                        <option value="{{value}}">{{value}}月</option>
                        {{/each}}
                    </script>
                </label>
                <label>
                    <span id="searchBtn">查询</span>
                </label>
			</div>
			<div id="buttonBox">
                <script type="text/html" id="buttonBox_script">
                {{each arr as value  i}}
                    <a href="javascript:void(0);" id="{{value.buttonCode}}" class="defaultBtn"><span>{{value.name}}</span></a>
                {{/each}}
                </script>
			</div>




			<div id="main">
				<ul id="members"></ul>
                <script type="text/html" id="members_script">
                    {{each data as value i}}
                    <li>
                        <a class="membersBg" data-username="{{value.userName}}" data-useruuid="{{value.userUuid}}" style="background-image: url({{value.portrait}});" href="#modal-dialog-qunzu" data-toggle="modal">
                            <div>
                                <span class="icon01">{{value.recordNum}}</span>
                                {{if value.evaNum==0}}
                                <span class="icon02 redBtn" >{{value.evaNum}}</span>
                                {{else}}
                                <span class="icon02">{{value.evaNum}}</span>
                                {{/if}}
                            </div>
                        </a>
                        <div class="membersTitle"><span data-useruuid="{{value.userUuid}}" class="unchecked">{{value.userName}}</span></div>
                    </li>
                    {{/each}}
                </script>
			</div>
	    </div> 
	</div>

    <div class="modal fade" id="modal-dialog-qunzu" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="col-md-6 first-content">
                    <h1 class="page-header" id="page-header"></h1>
                    <script id="page-header_script" type="text/html">
                        <i class="curName"></i>
                        <span>关联课程：{{courses}}</span>
                        <span>关联指标：{{coursesDim}}</span>
                        <span>{{year}}</span>
                        <span>{{month}}</span>
                    </script>
                    <!--begin 功能板块 -->
                    <div class="email-btn-row hidden-xs">
                        <a href="#" class="defaultBtn" id="dailyEvaluationDelete" data-childid=""><span>删除</span></a>
                        <span>未评价</span>
                        <span>典型案例</span>
                    </div>
                    <div class="panel panel-inverse" style="text-align: center;">
                        <div class="email-content" id="email-content"></div>
                        <script type="text/html" id="table-email">
                            <table class="table table-email">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;width: 5%;" class="email-select"><a href="#" data-click="email-select-all"></a></th>
                                        <th style="text-align: center;width: 5%;">ID</th>
                                        <th style="text-align: center;width: 15%;">记录时间</th>
                                        <th style="text-align: center;width: 15%;">观察人</th>
                                        <th style="text-align: center;width: 15%;">观察维度</th>
                                        <th style="text-align: center;width: 15%;">评价状态</th>
                                        <th style="text-align: center;width: 15%;">评价时间</th>
                                        <th style="text-align: center;width: 15%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{each list as item i}}
                                    <tr>
                                        <td class="email-select">
                                            <a href="#" data-click="email-select-single"><i class="fa fa-square-o fa-fw" data-id={{item.id}}></i></a>
                                        </td>
                                        <td class="email-sender">{{item.id}}</td>
                                        <td class="email-sender">{{item.createDate}}</td>
                                        <td class="email-sender">{{item.createUserName}}</td>
                                        <td class="email-sender">{{item.dimName}}</td>
                                        <td class="email-sender">
                                            {{if item.state=="0"}}
                                                <span class="unRead"></span>
                                            {{else}}
                                                {{item.state}}
                                            {{/if}}
                                        </td>
                                        <td class="email-sender">{{item.evaluateDate}}</td>
                                        <td class="email-sender">{{if item.typical ==1}}<span class="typical"></span>{{/if}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </script>
                        <ul id="pagination"></ul>
                    </div>
                               
                </div>


                <!-- 评价区域 -->
                <div class="col-md-6 second-content" id="second-content">
                    <div class="panel panel-inverse">
                        <div class="panel-body" id="evaluation"></div>
                        <script type="text/html" id="evaluation_script">
                            <div class="col-md-12">
                                <h4 style="font-size:20px; color:#707478">记录信息</h4>
                              {{if typical ==1}}
                              <img src="../../img/teaching/typicalIcon.png" alt="" style="position: absolute;top: 80px;right: 20px;z-index: 1;">
                              {{/if}}
                                <div class="col-md-12 ui-sortable ysjh-fzmb-jbxx" style="padding-bottom:10px; background:#fff">
                                    <div class="form-group col-md-6">姓名：{{childUserName}}</div>
                                    <div class="form-group col-md-6">关联课程：{{courseName}}</div>
                                    <div class="form-group col-md-6">关联观察维度：{{dimName}}</div>
                                    <div class="form-group col-md-6">记录时间：{{createDate}}</div>
                                </div>
                                <form class="form-horizontal">
                                    <div class="col-md-12 ui-sortable">
                                        <div class="jxgl-pjgl-rcpj-box">
                                            <h5>图片记录</h5>
                                            <div class="jxgl-pjgl-rcpj-tpjl">
                                                <ul id="carousel" class="pagination">
                                                    {{each picMd5List as value i}}
                                                    <li>
                                                            <a href="#modal-dialog-img" data-toggle="modal" data-src="{{path_img}}{{value}}&minpic=0" class="pic" data-pic="{{value}}">
                                                                  <img src="{{path_img}}{{value}}&minpic=1">
                                                                 <span class="deleteBtn"></span>
                                                            </a>
                                                    </li>
                                                    {{/each}}
                                                    <li>
                                                        <a href="#" id="addPicBtn"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="jxgl-pjgl-rcpj-box">
                                            <h5>音频记录</h5>
                                            <div class="jxgl-pjgl-rcpj-ypjl">
                                                <ul class="pagination pagination-without-border m-t-0"> 
                                                    {{each voiceMd5List as value i}}
                                                    <li>
                                                        <img src="../../img/teaching/video.png" alt="PC端暂时无法播放移动端音频">
                                                    </li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="jxgl-pjgl-rcpj-box">
                                            <h5>文字记录</h5>
                                            <div class="jxgl-pjgl-rcpj-wzjl">
                                            <div class="col-md-12 ui-sortable" style="padding:0px">
                                                    <textarea id="comment" class="form-control" placeholder="（您还可以输入120个文字）" rows="5">{{comment}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        
                            <!--begin 评价板块 -->                     
                            <div class="col-md-12">                        
                                <h4 style="font-size:20px; color:#707478">我的评价</h4>
                                <div class="col-md-12 jxgl-pjgl-rcpj-wdpj-box" style=" background:#ebf5f8">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label ui-sortable">水平</label>
                                            <div class="col-md-10 ui-sortable">
                                                <select class="form-control" id="level">
                                                    <option value="" data-desc="">请选择</option>
                                                    {{each recordLevel.dimLevelVOList as value i}}
                                                    <option value="{{value.id}}" data-id="{{value.id}}" data-desc="{{value.description}}">{{value.level}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label ui-sortable">水平描述</label>
                                            <div class="col-md-10 ui-sortable">
                                                <div class="form-control" id="description"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label ui-sortable"> 评语</label>
                                            <div class="col-md-10 ui-sortable">
                                                <textarea class="form-control" placeholder="（您还可以输入120个文字）" rows="7" id="evaluate"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label ui-sortable"> 建议策略</label>
                                            <div class="col-md-10 ui-sortable">
                                                <textarea class="form-control" placeholder="（您还可以输入120个文字）" rows="7" id="advice"></textarea>
                                            </div>
                                        </div>
                                    </form>        
                                </div>
                                
                                <div class="form-group pull-right" style="margin-top:20px">
                                    <div class="col-md-12 ui-sortable">
                                        {{if operation == 1}}
                                        是否标记为典型案例:
                                        <span id="switchBtn" {{if typical==1}} class="has-hover" {{else}} class="has-hover off" {{/if}}></span>

                                        <span id="switchBtn" {{if recordLevel.share==1}} class="has-hover" {{else}} class="has-hover off" {{/if}}></span>
                                        <button type="submit" class="btn btn-sm btn-success" id="finalBtn" data-id="{{id}}">提交</button>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </script>
                    </div>       
                </div>

                <span class="closeBtn" data-dismiss="modal"></span>
                <div style="clear:both"></div>
            </div>
            <div id="imgBg"></div>
        </div>
    </div>

    <div class="modal fade" id="modal-dialog-img" tabindex="0">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="carousel_img"></div>
                <span class="closeBtn" data-dismiss="modal"></span>
            </div>
        </div>
    </div>

	<script src="../../js/common/jquery-1.11.1.min.js"></script>
	<script src="../../js/common/jquery.nicescroll.min.js"></script>
	<script src="../../js/common/template.js"></script>
    <script src="../../js/common/jquery.toast.min.js"></script>
    <script src="../../js/common/sweetalert.min.js"></script>
    <script src="../../js/common/simplePagination.js" ></script>
    <!-- <script src="../../js/common/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> -->
    <script src="../../js/common/modal.js"></script>
    <script src="../../js/common/dropzone.min.js" ></script><!-- 上传插件 -->

	<script src="../../js/common/base.js"></script>
	<script src="../../js/watch/watchRecord.js"></script>
</body>
</html>