<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>萌宝成长</title>
	<meta name="renderer" content="webkit" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="幼教产品" />
	<meta name="author" content="上海紫越网络科技有限公司" />
	<link rel="shortcut icon" href="../../images/favicon.png">

	<link href="../../css/common/bootstrap.min.css" rel="stylesheet">
	<link href="../../css/common/base.css" rel="stylesheet" type="text/css" />
	<link href="../../css/common/jquery.toast.min.css" rel="stylesheet">
	<link href="../../css/common/sweetalert.css" rel="stylesheet">
	<link href="../../css/growth/childrenGrowth.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<header>
		<div id="carousel-example-generic">
			<a href="javascript:void(0);"></a>
		</div>
	</header>
	<div id="main">
		<div id="mainBox">
			<div id="new">
				<div>
					<span id="newBtn"></span>
					<br>
					<span id="newText">我要发帖</span>
				</div>
				<div id="editor">
					<div id="input">
						<textarea name="input" placeholder="这一刻的想法..." maxlength="1000"></textarea>
					</div>
					<div id="picList">
						<ul id="picListUl"></ul>
						<script type="text/html" id="picListUl_script">
							{{each arr as value i}}
                            <li data-pic="{{value}}">
                                <a href="#modal-dialog-img" data-toggle="modal" data-src="{{path_img}}{{value}}" class="pic" data-pic="{{value}}">
                                 	<img src="{{path_img}}{{value}}&minpic=1">
                                    <span class="deleteBtn"></span>
                                </a>
                            </li>
                            {{/each}}
						</script>
					</div>
					<div>
						<span class="newPicBtn">图片</span>
						<span class="newLabelBtn">标签</span>
						<span class="newWhoBtn">谁可见</span>
						<span class="newTopBtn">置顶：<span>关</span></span>
						<span class="newNumBtn"><span>0</span>/1000</span>
					</div>
					<div class="newLabel"></div>
					<ul class="newWho"></ul>
					<div class="commentNewBox"><span class="commentNew" id="commentNew">发布</span></div>
				</div>
			</div>
			<div id="content">
				<div id="label"></div>
				<script type="text/html" id="lable_script">
					<span data-id="" class="active">默认</span>
					{{each arr as value i}}
					<span data-id="{{value.id}}">{{value.name}}</span>
					{{/each}}
				</script>
				<ul id="list"></ul>
				<script type="text/html" id="list_script">
					{{each arr as value i}}
					<li class="part" data-id="{{value.id}}" data-createUseruuid="{{value.createUseruuid}}" data-newidmax="{{value.newIdMax}}" data-i="{{i}}">
						<div class="partBox">
							<span class="createUserPhoto" style="background-image: url({{path_img}}{{value.createUserPhoto}}&minpic=1);"></span>
							<div class="createUserName">
								{{value.createUserName}}
								{{each value.labelList as value01 j}}
								<span data-labelId="{{value01.labelId}}" class="labelName">{{value01.labelName}}</span>
								{{/each}}
								{{if value.stickyPost ==1}}
								<span class="stickyPost {{if value.topOperation ==1}}active{{/if}}">置顶 ﹀{{if value.topOperation ==1}}<span data-messageId="{{value.id}}">取消置顶</span>{{/if}}</span>
								{{/if}}
							</div>
							<div class="createTime">{{value.createTime}}</div>
							<div class="content">
								{{value.content}}
								{{if value.content01}}
									<span class="foldBtn active">...</span>
									<span class="foldText">{{value.content01}}</span>
									<div class="fold">展开全文</div>
								{{/if}}
							</div>
							<div class="video">
								{{if value.video}}
									<video src="{{path_img}}{{value.video}}&minpic=0" controls="controls" style=""></video>
								{{/if}}
							</div>
							<ul class="pictureList">
							{{if !value.video}}
							{{if value.pictureList.length <13}}
								{{each value.pictureList as value01 j}}
								<li data-pic="{{value01}}">
                                	<a href="#modal-dialog-img" data-toggle="modal" class="pic" data-pic="{{value01}}">
                                 		<img src="{{path_img}}{{value01}}&minpic=1">
                                	</a>
                            	</li>
                            	{{/each}}
                            {{else}}
                            	{{each value.pictureList as value01 j}}
                            	{{if j ==11}}
									<li class="twelveLi" data-pic="{{value01}}">
                                		<a href="#modal-dialog-img" data-toggle="modal" class="pic" data-pic="{{value01}}">
                                 			<img src="{{path_img}}{{value01}}&minpic=1">
                                		</a>
                                		<span class="twelve">+{{value.pictureList.length-12}}</span>
                            		</li>
                            	{{else}}
                            		<li class="{{if j >11}}more hide{{/if}}" data-pic="{{value01}}">
                                		<a href="#modal-dialog-img" data-toggle="modal" class="pic" data-pic="{{value01}}">
                                 			<img src="{{path_img}}{{value01}}&minpic=1">
                                		</a>
                            		</li>
                            	{{/if}}
                            	{{/each}}
							{{/if}}
							{{/if}}
							</ul>
							{{if value.pictureList.length >12}}
							<div class="foldPic hide">收起图片</div>
							{{/if}}
							<div class="praiseBox">
								{{if value.canDelete == 1}}
								<span class="canDelete" data-messageId="{{value.id}}">删除</span>
								{{/if}}
								{{if value.canDelete == 1 && value.visibleList.length >0}}
								<span class="visibleBtn" data-visible="{{value.visible}}">谁可见</span>
								{{/if}}
								{{if value.selfPraise ==0}}
								<span class="praiseBtn" data-messageId="{{value.id}}" data-praiseid="{{value.selfPraise}}">赞</span>
								{{else}}
								<span class="praiseBtn hover" data-messageId="{{value.id}}" data-praiseid="{{value.selfPraise}}">取消赞</span>
								{{/if}}
								<span class="commentBtn" data-messageId="{{value.id}}">评论</span>
							</div>
							<div class="praiseList" data-messageId="{{value.id}}">
								{{if value.praiseList.length !=0}}
								<div class="praiseListBox">
									<span class="praiseBtn01"></span>
									{{each value.praiseList as value01 j}}
									<span data-praiseid="{{value01.id}}" class="praiseUserName"><span>,</span>{{value01.praiseUserName}}</span>
									{{/each}}
								</div>
								{{/if}}
							</div>
							<div class="commentList" data-messageId="{{value.id}}" data-createUseruuid="{{value.createUseruuid}}">
								{{if value.commentList.length !=0}}
								<ul class="commentListBox">
									{{each value.commentList as value01 j}}
									<li data-commentId="{{value01.commentId}}" data-commentUserName="{{value01.commentUserName}}" data-commentUseruuid="{{value01.commentUseruuid}}">
										<span data-commentId="{{value01.commentId}}" class="commentUserName">{{value01.commentUserName}}</span>
										{{if value01.replyUserName}}回复{{/if}}
										<span class="replyUserName">{{value01.replyUserName}}:</span>
										<span class="commentContent">{{value01.content}}</span>
										{{if value01.commentUseruuid == useruuid}}
										<span class="commentDelete" data-messageid="{{value.id}}" data-commentId="{{value01.commentId}}">删除</span>
										{{else}}
										<span class="commentTip">点击回复</span>
										{{/if}}
									</li>
									{{/each}}
								</ul>
								{{/if}}
							</div>
							<div class="commentBox" data-messageId="{{value.id}}">
								<div class="commentInput">
									<textarea name="input" placeholder="" maxlength="1000"></textarea>
									<div class="comment" data-messageId="{{value.id}}" data-cuseruuid="">发表</div>
									<span class="cancelBtn">取消</span>
								</div>
							</div>
						</div>
					</li>
					{{/each}}
				</script>
				<script type="text/html" id="praise_script">
					<div class="praiseListBox">
						<span class="praiseBtn01"></span>
						<span data-praiseid="{{id}}" class="praiseUserName">{{praiseUserName}}</span>
					</div>
				</script>
				<script type="text/html" id="comment_script">
					{{if empty ==0}}
					<ul class="commentListBox">
						<li data-commentId="{{commentId}}" data-commentUserName="{{commentUserName}}" data-commentUseruuid="{{commentUseruuid}}">
							<span data-commentId="{{commentId}}" class="commentUserName">{{commentUserName}}</span>
							{{if replyUserName}}回复{{/if}}
							<span class="replyUserName">{{replyUserName}}:</span>
							<span class="commentContent">{{content}}</span>
							{{if commentUseruuid == useruuid}}
							<span class="commentDelete" data-messageid="{{messageId}}" data-commentId="{{commentId}}">删除</span>
							{{else}}
							<span class="commentTip">点击回复</span>
							{{/if}}
						</li>
					</ul>
					{{else}}
						<li data-commentId="{{commentId}}" data-commentUserName="{{commentUserName}}" data-commentUseruuid="{{commentUseruuid}}">
							<span data-commentId="{{commentId}}" class="commentUserName">{{commentUserName}}</span>
							{{if replyUserName}}回复{{/if}}
							<span class="replyUserName">{{replyUserName}}:</span>
							<span class="commentContent">{{content}}</span>
							{{if commentUseruuid == useruuid}}
							<span class="commentDelete" data-messageid="{{messageId}}" data-commentId="{{commentId}}">删除</span>
							{{else}}
							<span class="commentTip">点击回复</span>
							{{/if}}
						</li>
					{{/if}}
				</script>
			</div>
			<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top" id="scroll-top"></i></a>
		</div>
	</div>


	<footer>
		<span></span>
		<span></span>
		<span></span>
	</footer>


    <div class="modal fade" id="modal-picture" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" id="picLib">
				<div id="picTabContent" class="tab-content" style="clear: both;">
    				<div id="upload">
        				<div class="picMain">
        					<div class="uploadBg">
        						<img src="../../images/growth/uploading.png" alt="">
        						<div></div>
        						<span id="addBtn">上传图片</span>
        					</div>
							<ul class="picBody">
								<li class="addBtn01 hide"></li>
							</ul>
						</div>
						<script type="text/html" id="picMain01_script">
							<li data-md5="{{md5}}" class="loadImg active"><img src="{{path_img}}{{md5}}&minpic=1" alt=""></li>	
						</script>
    				</div>
				</div>
				<span class="maxNum">最多张数：<span>0</span>/40</span>
				<span id="picBtn">确定</span>
            </div>
            <span class="closeBtn" data-dismiss="modal" ></span>
        </div>
    </div>

    <div class="modal fade" id="modal-label" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" id="labelLib"></div>
            <span class="closeBtn" data-dismiss="modal" ></span>
        </div>
    </div>

    <div class="modal fade" id="modal-who" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            	<div class="modal-header">
                    <h4 class="modal-title">选择谁可见</h4>
            	</div>
				<div class="tab-content" style="clear: both;" id="whoBox">
					<ul class="whoBody"></ul>
					<script type="text/html" id="who_script">
						{{each arr as value i}}
						<li data-md5="{{value.studentPhoto}}" data-studentuuid="{{value.studentUuid}}">
							<img src="{{path_img}}{{value.studentPhoto}}&minpic=1" alt="">
							<div>{{value.studentName}}</div>
							<span class="deleteBtn"></span>
						</li>	
						{{/each}}
					</script>
				</div>
				<span id="whoBtn">确定</span>
            </div>
            <span class="closeBtn" data-dismiss="modal" ></span>
        </div>
    </div>

    <div class="modal fade" id="modal-who01" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            	<div class="modal-header">
                    <h4 class="modal-title">谁可见</h4>
            	</div>
				<div class="tab-content" style="clear: both;" id="whoBox">
					<ul class="whoBody"></ul>
					<script type="text/html" id="who01_script">
						{{each arr as value i}}
						<li data-studentuuid="{{value.visibleUseruuid}}">
							<img src="{{path_img}}{{value.visibleUserPhoto}}&minpic=1" alt="">
							<div>{{value.visibleUserName}}</div>
						</li>	
						{{/each}}
					</script>
				</div>
				<span id="whoBtn01" data-dismiss="modal" >关闭</span>
            </div>
            <span class="closeBtn" data-dismiss="modal" ></span>
        </div>
    </div>

    <div class="modal fade" id="modal-dialog-img" tabindex="0">
        <div class="modal-dialog">
            <div class="modal-content">
            	<span class="prevBtn"></span>
                <div id="carousel_img"></div>
                <span class="nextBtn"></span>
            </div>
        </div>
        <span class="closeBtn01" data-dismiss="modal"></span>
        <span class="deleteBtn01 hide"></span>
    </div>

	<div id="changeClass">
		<div><select id="teacherClass"></select></div>
    	<script id="teacherClass_script" type="text/html">
      		{{each arr as value i}}
			<option value="{{value.classUuid}}">{{value.className}}</option>
      		{{/each}}
      	</script>
	</div>

    
	<script src="../../js/common/jquery-1.11.1.min.js"></script>
	<script src="../../js/common/bootstrap.min.js"></script>
	<script src="../../js/common/dropzone.min.js"></script>
	<script src="../../js/common/jquery.nicescroll.min.js"></script>
	<script src="../../js/common/jquery.toast.min.js"></script>
	<script src="../../js/common/template.js"></script>
	<script src="../../js/common/sweetalert.min.js"></script>
	
	<script src="../../js/common/base.js"></script>
	<script src="../../js/growth/childrenGrowth.js"></script>
</body>
</html>