<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>角色设置</title>
	<meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="幼教产品" />
    <meta name="author" content="上海紫越网络科技有限公司" />
	<link rel="shortcut icon" href="../../images/favicon.png">

	<link href="../../css/common/base.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common/jquery.toast.min.css" rel="stylesheet">
	<link href="./font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    
	<link href="../../css/common/sidebar.css" rel="stylesheet" type="text/css" />
	<link href="../../css/settings/roleManage.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<div id="page-container" class="fade">
		<div id="sidebar" class="sidebar">
			<div id="sidebarBox">
				<div id="user">
					<div class="userPic"><a href="../../index.html">退出登录</a></div>
					<div class="userName"></div>
					<div class="userRole"></div>
				</div>
				<div id="home"> 
					<a class="homePic" href="../../menu.html">主页</a>
				</div>
				<ul id="subMenu"></ul>
				<script id="menu_script" type="text/html">
                    {{each arr as value i}}
                    <li class="has-list">
                        <a class="hasTitle {{if value.current}}active{{/if}}" href="{{value.url}}?pid={{value.pid}}&sid={{value.newId}}" data-id="{{value.id}}">{{value.name}}</a>
                    </li>
                    {{/each}}
                    <style>
                    {{each arr as value i}}
                        a.hasTitle[data-id="{{value.id}}"]{background-image: url({{path_img}}{{value.iconArr[0]}});background-size: 0.45rem;}
                        a.hasTitle[data-id="{{value.id}}"]:hover,a.hasTitle[data-id="{{value.id}}"].active{background-image: url({{path_img}}{{value.iconArr[1]}});border: 0.02rem solid #656868;background-color: #a8f8ee;background-size: 0.45rem;}
                    {{/each}}
                    </style>
                </script>
			</div>
			<div id="switch" class=""><span></span></div>
		</div>

		<div id="content" class="content">
			<div class="pageTitle">角色设置</div>
			<div id="main">
				<div class="panel">
                   	<div class="email-content" id="tableBox"></div>
                    <script type="text/html" id="tableBox_script">
                        <table class="table table-email">
                            <thead>
                                <tr>
                                    <th style="width: 20%;" class="email-select"></th>
                                    <th style="width: 80%;">角色名称</th>
                                </tr>
                            </thead>
                           	 <tbody>
                           	 	{{each arr as item i}}
                            	<tr data-typecode={{item.typeCode}}>
                                  	<td style="word-break:break-all;" class="email-select">
                                  		<a href="javascript:void(0);"><i class="fa fa-square-o fa-fw" data-typecode={{item.typeCode}}></i></a>
                                  	</td>
                                  	<td style="word-break:break-all;" class="email-sender">{{item.typeName}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </script>
                </div>
                <div class="panel ui-popup-follow ui-popup-bottom-right">
                    <div class="ui-dialog-arrow-a"></div>
                    <div class="ui-dialog-arrow-b"></div>
                    <div class="email-content" id="tableBox01"></div>
                    <script type="text/html" id="tableBox01_script">
                        <div id="save">保存</div>
                        <ul>
                            {{each arr as value i}}
                            <li>
                                <div>
                                    <span class="level level01 {{if value.check==1}} active{{/if}}" data-id="{{value.id}}" data-name="{{value.name}}">
                                        {{value.name}}
                                    </span>
                                </div>
                                <div class="menuList">
                                    {{each value.childMenuList as value01 j}}
                                    <span class="level level02 {{if value01.check==1}} active{{/if}}" data-id="{{value01.id}}" data-name="{{value01.name}}">
                                        {{value01.name}}
                                    </span>
                                    {{/each}}
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </script>
                </div>
			</div>
	    </div> 
	</div>
	<script src="../../js/common/jquery-1.11.1.min.js"></script>
	<script src="../../js/common/jquery.nicescroll.min.js"></script>
	<script src="../../js/common/template.js"></script>
    <script src="../../js/common/jquery.toast.min.js"></script>

	<script src="../../js/common/base.js?t=20171219"></script>
	<script src="../../js/settings/roleManage.js?t=20171219"></script>
</body>
</html>