<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>成长档案相册</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/> 
	<meta content="" name="description" />
	<meta name="screen-orientation" content="portrait"><!-- uc强制竖屏 -->
	<meta name="x5-orientation" content="portrait"><!-- QQ强制竖屏 -->
	<meta content="" name="author" />
	<link rel="shortcut icon" href="./images/favicon.png">
	
	<link rel="stylesheet" href="./plugins/swiper/4x/swiper.min.css">
	<link rel="stylesheet" href="./plugins/swiper/4x/animate.min.css">
	<link rel="stylesheet" href="./css/recordList_photo.css?t=20180612">
</head>
<body>
	<div class="swiper-container">
		<div class="swiper-wrapper"></div>

		<div class="bgm-btn rotate audio" style="display: block;">
			<audio src="images/recordList/music.mp3" autoplay="autoplay" loop="loop" id="audio"></audio>
		</div>

		<div class="u-arrow-bottom" style="bottom: 30px;">
			<div class="pre-wrap-bottom">
				<div class="pre-box1">
					<div class="pre1"></div>
				</div>
				<div class="pre-box2">
					<div class="pre2"></div>
				</div>
			</div>
		</div>

		<div class="swiper-pagination"></div>
	</div>
    <script type="text/html" id="swiper_script">
    	<section class="swiper-slide swiper-slide-0">
    		<div class="swiperBg">
				<img src="./images/recordList/section-0-bg.png" alt="">
			</div>
			<div class="layer">
				<img class="ani" src="./images/recordList/section-0-01.png" data-slide-in="at 500 from fadeInUp use swing during 1000" style="width:100%;left:0;bottom: 0;z-index:1;">
				<img class="ani" src="./images/recordList/section-0-02.png" data-slide-in="at 500 from slideDown use swing during 1500" style="left:10px;top:40%;z-index:3;animation-iteration-count: infinite;" >
				<img class="ani" src="./images/recordList/section-0-03.png" data-slide-in="at 500 from slideDown use swing during 1500" style="right: 0;top:40%;z-index:3;animation-iteration-count: infinite;" >
				<img class="ani" src="./images/recordList/section-0-04.png" data-slide-in="at 500 from fadeInDown use swing during 1000" style="right:0;top:0;z-index:1;" >
				<img class="ani" src="./images/recordList/section-0-05.png" data-slide-in="at 500 from bounceInRight use swing during 1000" data-slide-out="at 0 to tada use swing during 1500 force" data-iteration="infinite" style="right: 0;bottom: 10px;z-index:4;animation-iteration-count: infinite;" >
				<span style="margin-top:70%; display: inline-block;color: #f17408;font-weight: 600;font-size: 18px;position: relative;">
					<span class="ani" data-slide-in="at 500 from rollInRight use swing during 2000" style="position: absolute;z-index: 1;font-size: 24px;left: 0;top:-25%;word-break: keep-all;display: block;width: 100%;">{{nameArr[0]}}</span>
					<br>
					<span class="ani" data-slide-in="at 500 from rollInRight use swing during 2000" style="position: absolute;z-index: 1;left: 0;margin-top: 10px;top:0%;display: block;width: 100%;">{{nameArr[1]}}</span>
					<br>
					<img class="ani" src="./images/recordList/section-0-06.png" data-slide-in="at 500 from swing use swing during 1500" style="position: relative;margin-top: -75%;">
				</span>
			</div>
		</section>

		{{if pictureList[0]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-1-bg.png" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:120%;left:-10%;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[0]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-1-pet.png" data-slide-in="at 500 from bounceInLeft use swing during 500" data-slide-out="at 100 to wobble use swing during 1500 force" data-iteration="infinite" style="left:0;bottom:10px;z-index:3;">
			</div>
		</section>
		{{/if}}

		{{if pictureList[1]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-2-bg.png" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:120%;left:-10%;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[1]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-2-pet.png" data-slide-in="at 500 from bounceInRight use swing during 500" data-slide-out="at 1500 to tada use swing during 1000 force" data-iteration="infinite" style="right:10px;bottom:10px;z-index:3;">
			</div>
		</section>
		{{/if}}

		{{if pictureList[2]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-3-bg.jpg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="height:50%;left:-100%;top: 0;z-index:0;">
				<img class="ani sectionBg" src="./images/recordList/section-3-bg02.png" data-slide-in="at 0 from bounceIn use swing during 1000" style="width:100%;left:0;bottom: 0;z-index:3;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[2]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-3-pet01.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 2000 force" data-iteration="infinite" style="left:10px;bottom:50px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-3-pet02.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1500 to swing use swing during 8000 force" data-iteration="infinite" style="left:50%;bottom:40px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-3-pet03.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1000 to swing use swing during 3000 force" data-iteration="infinite" style="right:20px;bottom:30px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[3]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-4-bg.png" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:120%;left:-10%;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[3]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-4-pet01.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to rotateIn use swing during 1500 force" data-iteration="infinite" style="left:15px;bottom:50px;z-index:3;animation-timing-function: linear;" >
				<img class="ani sectionPet" src="./images/recordList/section-4-pet02.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to rotateIn use swing during 1500 force" data-iteration="infinite" style="left:70px;bottom:30px;z-index:3;animation-timing-function: linear;" >
				<img class="ani sectionPet" src="./images/recordList/section-4-pet03.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to rotateIn use swing during 1500 force" data-iteration="infinite" style="right:20px;bottom:40px;z-index:3;animation-timing-function: linear;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[4]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-5-bg.jpg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="height:100%;left:0;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[4]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-5-pet.png" data-slide-in="at 500 from bounceInRight use swing during 500" data-slide-out="at 1000 to wobble use swing during 3000 force" data-iteration="infinite" style="right:20px;bottom:20px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[5]}}
		<section class="swiper-slide">
			<div class="layer">
				<div class="ani sectionBg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="background-color: #ffe55e;z-index: 0;left:0;top: 0;height: 100%;width: 100%;position: absolute;"></div>
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[5]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-6-pet.png" data-slide-in="at 500 from bounceInRight use swing during 500" data-slide-out="at 1500 to tada use swing during 3000 force" data-iteration="infinite" style="right:10px;bottom:10px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-6-pet02.png" data-slide-in="at 1500 from zoomIn use swing during 3000" style="left:0;top:10px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[6]}}
		<section class="swiper-slide">
			<div class="layer">
				<div class="ani sectionBg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="background-color: #ffe55e;z-index: 0;left:0;top: 0;height: 100%;width: 100%;position: absolute;"></div>
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[6]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-7-pet09.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to rotateIn use swing during 3000 force" data-iteration="infinite" style="left:20px;top:10px;z-index:3;animation-timing-function: linear;" >
				<img class="ani sectionPet" src="./images/recordList/section-7-pet08.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to rotateIn use swing during 3000 force" data-iteration="infinite" style="left:10px;top:50px;z-index:3;animation-timing-function: linear;" >
				<img class="ani sectionPet" src="./images/recordList/section-7-pet08.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to rotateIn use swing during 3000 force" data-iteration="infinite" style="right:10px;top:20px;z-index:3;animation-timing-function: linear;" >

				<img class="ani sectionPet" src="./images/recordList/section-7-pet01.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 3000 force" data-iteration="infinite" style="left:5%;bottom:10px;z-index:3;transform-origin: bottom center;" >
				<img class="ani sectionPet" src="./images/recordList/section-7-pet02.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 4000 force" data-iteration="infinite" style="left:15%;bottom:10px;z-index:3;transform-origin: bottom center;" >
				<img class="ani sectionPet" src="./images/recordList/section-7-pet06.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 5000 force" data-iteration="infinite" style="left:22%;bottom:10px;z-index:3;transform-origin: bottom center;;" >
				<img class="ani sectionPet" src="./images/recordList/section-7-pet03.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 3000 force" data-iteration="infinite" style="left:38%;bottom:10px;z-index:3;transform-origin: bottom center;" >
				<img class="ani sectionPet" src="./images/recordList/section-7-pet04.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 5000 force" data-iteration="infinite" style="left:45%;bottom:10px;z-index:3;transform-origin: bottom center;" >
				<img class="ani sectionPet" src="./images/recordList/section-7-pet05.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 5000 force" data-iteration="infinite" style="left:55%;bottom:10px;z-index:3;transform-origin: bottom center;" >
				
				<img class="ani sectionPet" src="./images/recordList/section-7-pet07.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 4000 force" data-iteration="infinite" style="right:20%;bottom:10px;z-index:3;transform-origin: bottom center;" >
				<img class="ani sectionPet" src="./images/recordList/section-7-pet06.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 6000 force" data-iteration="infinite" style="right:5%;bottom:10px;z-index:3;transform-origin: bottom center;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[7]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-8-bg.png" data-slide-in="at 0 from fadeInDown use swing during 2000" style="height:100%;left:0;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[7]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-8-pet01.png" data-slide-in="at 500 from bounceInRight use swing during 500" data-slide-out="at 1000 to rubberBand use swing during 1000 force" data-iteration="infinite" style="right:40px;bottom:10px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-8-pet02.png" data-slide-in="at 500 from bounceInRight use swing during 500" data-slide-out="at 1000 to wobble use swing during 1000 force" style="right:10px;bottom:10px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[8]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-9-bg.jpg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:100%;height:100%;left:0;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[8]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-9-pet.png" data-slide-in="at 500 from bounceInLeft use swing during 500" data-slide-out="at 1000 to wobble use swing during 3000 force" data-iteration="infinite" style="left:10px;bottom:10px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[9]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-10-bg.png" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:100%;left:0;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[9]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-10-pet.png" data-slide-in="at 500 from bounceInLeft use swing during 500" data-slide-out="at 1000 to wobble use swing during 3000 force" data-iteration="infinite" style="left:10px;bottom:20px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[10]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-11-bg.jpg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:150%;height:80%;left:-20%;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[10]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-11-pet.png" data-slide-in="at 500 from bounceInLeft use swing during 500" data-slide-out="at 1000 to wobble use swing during 3000 force" data-iteration="infinite" style="left:0;bottom:30px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[11]}}
		<section class="swiper-slide">
			<div class="layer">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[11]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionBg" src="./images/recordList/section-12-bg02.png" data-slide-in="at 0 from fadeInUp use swing during 1000" style="width:100%;left:0;bottom: 0;z-index:3;">
				<img class="ani sectionPet" src="./images/recordList/section-12-pet02.png" data-slide-in="at 1000 from wobble use swing during 1000" style="left:5px;bottom:20px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-12-pet01.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1000 to rubberBand use swing during 1000 force" data-iteration="infinite" style="left:30px;bottom:20px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-12-pet03.png" data-slide-in="at 1000 from wobble use swing during 1000" style="right:15px;top:15px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[12]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-13-bg.png" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:100%;left:0;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[12]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionBg" src="./images/recordList/section-13-bg02.png" data-slide-in="at 0 from fadeInUp use swing during 1000" style="width:100%;left:0;bottom: 0;z-index:3;">
				<img class="ani sectionPet" src="./images/recordList/section-13-pet.png" data-slide-in="at 1000 from fadeInRight use swing during 2000" style="left:15px;top:10px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-13-pet.png" data-slide-in="at 1500 from fadeInRight use swing during 2000" style="left:40px;top:10px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[13]}}
		<section class="swiper-slide">
			<div class="layer">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[13]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionBg" src="./images/recordList/section-14-bg02.png" data-slide-in="at 0 from fadeInUp use swing during 1000" style="width:100%;height:100px;left:0;bottom: 0;z-index:3;">
				<img class="ani sectionPet" src="./images/recordList/section-14-pet03.png" data-slide-in="at 1500 from hingeRight use swing during 1000" style="left:20%;bottom:55px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-14-pet02.png" data-slide-in="at 1500 from swing use swing during 1000" style="left:50%;bottom:40px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-14-pet01.png" data-slide-in="at 1500 from swing use swing during 1000" style="right:15%;bottom:30px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[14]}}
		<section class="swiper-slide">
			<div class="layer">
				<div class="ani sectionBg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="background-color: #ffe55e;z-index: 0;left:0;top: 0;height: 100%;width: 100%;position: absolute;"></div>
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[14]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-15-pet.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1000 to tada use swing during 1000 force" data-iteration="infinite" style="left:10px;bottom:20px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[15]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-16-bg.jpg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:120%;left:-10%;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[15]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionBg" src="./images/recordList/section-16-bg02.png" data-slide-in="at 0 from fadeInUp use swing during 1000" style="width:100%;height:100px;left:0;bottom: 0;z-index:3;">
			</div>
		</section>
		{{/if}}

		{{if pictureList[16]}}
		<section class="swiper-slide">
			<div class="layer">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[16]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionBg" src="./images/recordList/section-17-bg02.png" data-slide-in="at 0 from fadeInUp use swing during 1000" style="width:100%;height:100px;left:0;bottom: 0;z-index:3;">
				<img class="ani sectionPet" src="./images/recordList/section-17-pet.png" data-slide-in="at 1000 from zoomIn use swing during 500" data-slide-out="at 500 to tada use swing during 1000 force" data-iteration="infinite" style="left:5px;top:10px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[17]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-18-bg.jpg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:120%;left:-10%;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[17]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionBg" src="./images/recordList/section-18-bg02.png" data-slide-in="at 0 from fadeInUp use swing during 1000" style="width:100%;left:0;bottom: 0;z-index:3;">
				<img class="ani sectionPet" src="./images/recordList/section-18-pet.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1000 to wobble use swing during 2000 force" data-iteration="infinite" style="right:20px;bottom:20px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-18-pet02.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1000 to wobble use swing during 2000 force" style="left:0;bottom:20px;z-index:3;" >
			</div>
		</section>
		{{/if}}


		{{if pictureList[18]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-19-bg.jpg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:100%;left:0;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[18]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-19-pet.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1000 to wobble use swing during 1000 force" data-iteration="infinite" style="left:0;bottom:10px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[19]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-20-bg.png" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:100%;left:0;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[19]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-20-pet01.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1000 to wobble use swing during 3000 force" style="right:0;bottom:20px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-20-pet02.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1000 to swing use swing during 3000 force" data-iteration="infinite" style="left:10px;top:20px;z-index:3;" >
			</div>
		</section>
		{{/if}}








		{{if pictureList[20]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-1-bg.png" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:120%;left:-10%;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[20]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-1-pet.png" data-slide-in="at 500 from bounceInLeft use swing during 500" data-slide-out="at 100 to wobble use swing during 1500 force" data-iteration="infinite" style="left:0;bottom:10px;z-index:3;">
			</div>
		</section>
		{{/if}}

		{{if pictureList[21]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-2-bg.png" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:120%;left:-10%;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[21]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-2-pet.png" data-slide-in="at 500 from bounceInRight use swing during 500" data-slide-out="at 1500 to tada use swing during 1000 force" data-iteration="infinite" style="right:10px;bottom:10px;z-index:3;">
			</div>
		</section>
		{{/if}}

		{{if pictureList[22]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-3-bg.jpg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="height:50%;left:-100%;top: 0;z-index:0;">
				<img class="ani sectionBg" src="./images/recordList/section-3-bg02.png" data-slide-in="at 0 from bounceIn use swing during 1000" style="width:100%;left:0;bottom: 0;z-index:3;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[22]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-3-pet01.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 2000 force" data-iteration="infinite" style="left:10px;bottom:50px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-3-pet02.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1500 to swing use swing during 8000 force" data-iteration="infinite" style="left:50%;bottom:40px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-3-pet03.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1000 to swing use swing during 3000 force" data-iteration="infinite" style="right:20px;bottom:30px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[23]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-4-bg.png" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:120%;left:-10%;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[23]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-4-pet01.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to rotateIn use swing during 1500 force" data-iteration="infinite" style="left:15px;bottom:50px;z-index:3;animation-timing-function: linear;" >
				<img class="ani sectionPet" src="./images/recordList/section-4-pet02.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to rotateIn use swing during 1500 force" data-iteration="infinite" style="left:70px;bottom:30px;z-index:3;animation-timing-function: linear;" >
				<img class="ani sectionPet" src="./images/recordList/section-4-pet03.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to rotateIn use swing during 1500 force" data-iteration="infinite" style="right:20px;bottom:40px;z-index:3;animation-timing-function: linear;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[24]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-5-bg.jpg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="height:100%;left:0;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[24]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-5-pet.png" data-slide-in="at 500 from bounceInRight use swing during 500" data-slide-out="at 1000 to wobble use swing during 3000 force" data-iteration="infinite" style="right:20px;bottom:20px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[25]}}
		<section class="swiper-slide">
			<div class="layer">
				<div class="ani sectionBg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="background-color: #ffe55e;z-index: 0;left:0;top: 0;height: 100%;width: 100%;position: absolute;"></div>
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[25]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-6-pet.png" data-slide-in="at 500 from bounceInRight use swing during 500" data-slide-out="at 1500 to tada use swing during 3000 force" data-iteration="infinite" style="right:10px;bottom:10px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-6-pet02.png" data-slide-in="at 1500 from zoomIn use swing during 3000" style="left:0;top:10px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[26]}}
		<section class="swiper-slide">
			<div class="layer">
				<div class="ani sectionBg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="background-color: #ffe55e;z-index: 0;left:0;top: 0;height: 100%;width: 100%;position: absolute;"></div>
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[26]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-7-pet09.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to rotateIn use swing during 3000 force" data-iteration="infinite" style="left:20px;top:10px;z-index:3;animation-timing-function: linear;" >
				<img class="ani sectionPet" src="./images/recordList/section-7-pet08.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to rotateIn use swing during 3000 force" data-iteration="infinite" style="left:10px;top:50px;z-index:3;animation-timing-function: linear;" >
				<img class="ani sectionPet" src="./images/recordList/section-7-pet08.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to rotateIn use swing during 3000 force" data-iteration="infinite" style="right:10px;top:20px;z-index:3;animation-timing-function: linear;" >

				<img class="ani sectionPet" src="./images/recordList/section-7-pet01.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 3000 force" data-iteration="infinite" style="left:5%;bottom:10px;z-index:3;transform-origin: bottom center;" >
				<img class="ani sectionPet" src="./images/recordList/section-7-pet02.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 4000 force" data-iteration="infinite" style="left:15%;bottom:10px;z-index:3;transform-origin: bottom center;" >
				<img class="ani sectionPet" src="./images/recordList/section-7-pet06.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 5000 force" data-iteration="infinite" style="left:22%;bottom:10px;z-index:3;transform-origin: bottom center;;" >
				<img class="ani sectionPet" src="./images/recordList/section-7-pet03.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 3000 force" data-iteration="infinite" style="left:38%;bottom:10px;z-index:3;transform-origin: bottom center;" >
				<img class="ani sectionPet" src="./images/recordList/section-7-pet04.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 5000 force" data-iteration="infinite" style="left:45%;bottom:10px;z-index:3;transform-origin: bottom center;" >
				<img class="ani sectionPet" src="./images/recordList/section-7-pet05.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 5000 force" data-iteration="infinite" style="left:55%;bottom:10px;z-index:3;transform-origin: bottom center;" >
				
				<img class="ani sectionPet" src="./images/recordList/section-7-pet07.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 4000 force" data-iteration="infinite" style="right:20%;bottom:10px;z-index:3;transform-origin: bottom center;" >
				<img class="ani sectionPet" src="./images/recordList/section-7-pet06.png"  data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 500 to swing use swing during 6000 force" data-iteration="infinite" style="right:5%;bottom:10px;z-index:3;transform-origin: bottom center;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[27]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-8-bg.png" data-slide-in="at 0 from fadeInDown use swing during 2000" style="height:100%;left:0;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[27]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-8-pet01.png" data-slide-in="at 500 from bounceInRight use swing during 500" data-slide-out="at 1000 to rubberBand use swing during 1000 force" data-iteration="infinite" style="right:40px;bottom:10px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-8-pet02.png" data-slide-in="at 500 from bounceInRight use swing during 500" data-slide-out="at 1000 to wobble use swing during 1000 force" style="right:10px;bottom:10px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[28]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-9-bg.jpg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:100%;height:100%;left:0;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[28]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-9-pet.png" data-slide-in="at 500 from bounceInLeft use swing during 500" data-slide-out="at 1000 to wobble use swing during 3000 force" data-iteration="infinite" style="left:10px;bottom:10px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[29]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-10-bg.png" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:100%;left:0;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[29]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-10-pet.png" data-slide-in="at 500 from bounceInLeft use swing during 500" data-slide-out="at 1000 to wobble use swing during 3000 force" data-iteration="infinite" style="left:10px;bottom:20px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[30]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-11-bg.jpg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:150%;height:80%;left:-20%;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[30]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-11-pet.png" data-slide-in="at 500 from bounceInLeft use swing during 500" data-slide-out="at 1000 to wobble use swing during 3000 force" data-iteration="infinite" style="left:0;bottom:30px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[31]}}
		<section class="swiper-slide">
			<div class="layer">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[31]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionBg" src="./images/recordList/section-12-bg02.png" data-slide-in="at 0 from fadeInUp use swing during 1000" style="width:100%;left:0;bottom: 0;z-index:3;">
				<img class="ani sectionPet" src="./images/recordList/section-12-pet02.png" data-slide-in="at 1000 from wobble use swing during 1000" style="left:5px;bottom:20px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-12-pet01.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1000 to rubberBand use swing during 1000 force" data-iteration="infinite" style="left:30px;bottom:20px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-12-pet03.png" data-slide-in="at 1000 from wobble use swing during 1000" style="right:15px;top:15px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[32]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-13-bg.png" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:100%;left:0;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[32]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionBg" src="./images/recordList/section-13-bg02.png" data-slide-in="at 0 from fadeInUp use swing during 1000" style="width:100%;left:0;bottom: 0;z-index:3;">
				<img class="ani sectionPet" src="./images/recordList/section-13-pet.png" data-slide-in="at 1000 from fadeInRight use swing during 2000" style="left:15px;top:10px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-13-pet.png" data-slide-in="at 1500 from fadeInRight use swing during 2000" style="left:40px;top:10px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[33]}}
		<section class="swiper-slide">
			<div class="layer">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[33]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionBg" src="./images/recordList/section-14-bg02.png" data-slide-in="at 0 from fadeInUp use swing during 1000" style="width:100%;height:100px;left:0;bottom: 0;z-index:3;">
				<img class="ani sectionPet" src="./images/recordList/section-14-pet03.png" data-slide-in="at 1500 from hingeRight use swing during 1000" style="left:20%;bottom:55px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-14-pet02.png" data-slide-in="at 1500 from swing use swing during 1000" style="left:50%;bottom:40px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-14-pet01.png" data-slide-in="at 1500 from swing use swing during 1000" style="right:15%;bottom:30px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[34]}}
		<section class="swiper-slide">
			<div class="layer">
				<div class="ani sectionBg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="background-color: #ffe55e;z-index: 0;left:0;top: 0;height: 100%;width: 100%;position: absolute;"></div>
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[34]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-15-pet.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1000 to tada use swing during 1000 force" data-iteration="infinite" style="left:10px;bottom:20px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[35]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-16-bg.jpg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:120%;left:-10%;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[35]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionBg" src="./images/recordList/section-16-bg02.png" data-slide-in="at 0 from fadeInUp use swing during 1000" style="width:100%;height:100px;left:0;bottom: 0;z-index:3;">
			</div>
		</section>
		{{/if}}

		{{if pictureList[36]}}
		<section class="swiper-slide">
			<div class="layer">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[36]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionBg" src="./images/recordList/section-17-bg02.png" data-slide-in="at 0 from fadeInUp use swing during 1000" style="width:100%;height:100px;left:0;bottom: 0;z-index:3;">
				<img class="ani sectionPet" src="./images/recordList/section-17-pet.png" data-slide-in="at 1000 from zoomIn use swing during 500" data-slide-out="at 500 to tada use swing during 1000 force" data-iteration="infinite" style="left:5px;top:10px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[37]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-18-bg.jpg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:120%;left:-10%;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[37]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionBg" src="./images/recordList/section-18-bg02.png" data-slide-in="at 0 from fadeInUp use swing during 1000" style="width:100%;left:0;bottom: 0;z-index:3;">
				<img class="ani sectionPet" src="./images/recordList/section-18-pet.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1000 to wobble use swing during 2000 force" data-iteration="infinite" style="right:20px;bottom:20px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-18-pet02.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1000 to wobble use swing during 2000 force" style="left:0;bottom:20px;z-index:3;" >
			</div>
		</section>
		{{/if}}


		{{if pictureList[38]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-19-bg.jpg" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:100%;left:0;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[38]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-19-pet.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1000 to wobble use swing during 1000 force" data-iteration="infinite" style="left:0;bottom:10px;z-index:3;" >
			</div>
		</section>
		{{/if}}

		{{if pictureList[39]}}
		<section class="swiper-slide">
			<div class="layer">
				<img class="ani sectionBg" src="./images/recordList/section-20-bg.png" data-slide-in="at 0 from fadeInDown use swing during 2000" style="width:100%;left:0;top: 0;z-index:0;">
				<span class="ani sectionBorder" data-slide-in="at 1000 from puffIn use swing during 1000">
					<img class="ani sectionPic" src="{{path_img}}{{pictureList[39]}}" data-slide-in="at 2000 from zoomIn use swing during 1000">
				</span>
				<img class="ani sectionPet" src="./images/recordList/section-20-pet01.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1000 to wobble use swing during 3000 force" style="right:0;bottom:20px;z-index:3;" >
				<img class="ani sectionPet" src="./images/recordList/section-20-pet02.png" data-slide-in="at 500 from zoomIn use swing during 500" data-slide-out="at 1000 to swing use swing during 3000 force" data-iteration="infinite" style="left:10px;top:20px;z-index:3;" >
			</div>
		</section>
		{{/if}}
	</script>

	<!-- <script src="js/jquery-1.11.1.min.js"></script>  -->
	<script src="js/common/zepto.min.js"></script>
	<script src="js/common/template.js"></script>
	<script src="./plugins/swiper/4x/swiper.min.js"></script> 
	<!-- <script src="./plugins/swiper/4x/swiper.animate.min.js"></script> -->
	<script src="./plugins/swiper/4x/swiper.animate-twice.min.js"></script>
	<script src="./js/base.js?t=20180102"></script>
	<script src="./js/recordList_photo.js?t=201806088"></script>
</body>
</html>
