<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>幼儿信息</title>
	<meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="幼教产品" />
    <meta name="author" content="上海紫越网络科技有限公司" />
	<link rel="shortcut icon" href="../../images/favicon.png">

	<link href="../../css/common/base.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common/modal.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common/jquery.toast.min.css" rel="stylesheet">
    <link href="../../css/common/sweetalert.css" rel="stylesheet">
    <link href="../../css/common/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
	<link href="./font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    

	<link href="../../css/common/sidebar.css" rel="stylesheet" type="text/css" />
	<link href="../../css/class/children.css?t=20170927" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<div id="page-container">
		<div id="sidebar" class="sidebar">
			<div id="sidebarBox">
				<div id="user">
					<div class="userPic"></div>
					<div class="userName"></div>
					<div class="userRole"></div>
				</div>
				<div id="home"> 
					<a class="homePic" href="../../menu.html">主页</a>
				</div>
				<ul id="subMenu"></ul>
				<script id="menu_script" type="text/html">
                    {{each arr as value i}}
                    <li class="has-list">
                        <a class="hasTitle {{if value.current}}active{{/if}}" href="{{value.url}}?pid={{value.pid}}&sid={{value.newId}}" data-id="{{value.id}}">{{value.name}}</a>
                    </li>
                    {{/each}}
                    <style>
                    {{each arr as value i}}
                        a.hasTitle[data-id="{{value.id}}"]{background-image: url({{path_img}}{{value.iconArr[0]}}&minpic=0);}
                        a.hasTitle[data-id="{{value.id}}"]:hover,a.hasTitle[data-id="{{value.id}}"].active{background-image: url({{path_img}}{{value.iconArr[1]}}&minpic=0);border: 0.02rem solid #656868;background-color: #f3b369;}
                    {{/each}}
                    </style>
                </script>
			</div>
			<div id="switch" class=""><span></span></div>
		</div>

		<div id="content" class="content">
			<div class="pageTitle">幼儿信息</div>
			<div id="search">
      			<label>
      				班级：
      				<select id="teacherClass"></select>
    				<script id="teacherClass_script" type="text/html">
      					{{each arr as value i}}
						<option value="{{value.classUUID}}" data-name="{{value.className}}">{{value.className}}</option>
      					{{/each}}
      				</script>
      			</label>
      			<label>
      				学生姓名：
      				<input type="text" placeholder="请输入姓名" id="teacherName">
      			</label>
      			<span id="searchBtn">查询</span>
			</div>
			<div id="buttonBox"></div>
            <script type="text/html" id="buttonBox_script">
                {{each arr as value  i}}
                <a href="javascript:void(0);" id="{{value.buttonCode}}" class="defaultBtn"><span>{{value.name}}</span></a>
                {{/each}}
            </script>
			<div id="main">
				<div class="panel">
                   	<div class="email-content" id="tableBox"></div>
                    <ul id="pagination"></ul>
                    <script type="text/html" id="tableBox_script">
                        <table class="table table-email">
                            <thead>
                                <tr>
                                    <th style="width: 5%;" class="email-select"><a href="#" data-click="email-select-all"><i class="fa fa-square-o fa-fw"></i></a></th>
                                    <th style="width: 14%;">姓名</th>
                                    <th style="width: 6%;">性别</th>
                                    <th style="width: 15%;">出生日期</th>
                                    <th style="width: 15%;">班级名称</th>
                                </tr>
                            </thead>
                           	 <tbody>
                           	 	{{each resultList as item i}}
                            	<tr>
                                  	<td style="word-break:break-all;" class="email-select">
                                  		<a href="javascript:void(0)" data-click="email-select-single"><i class="fa fa-square-o fa-fw" data-id={{item.childUUID}}></i></a>
                                  	</td>
                                  	<td style="word-break:break-all;" class="email-sender">{{item.name}}</td>
                                  	<td style="word-break:break-all;" class="email-sender">{{item.sex}}</td>
                                  	<td style="word-break:break-all;" class="email-sender">{{item.birthday}}</td>
                                  	<td style="word-break:break-all;" class="email-sender">{{item.className}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </script>
                </div>
                <div class="panel ui-popup-follow ui-popup-bottom-right">
                    <div class="ui-dialog-arrow-a"></div>
                    <div class="ui-dialog-arrow-b"></div>
                    <div class="email-content" id="tableBox02"></div>
                    <script type="text/html" id="tableBox02_script">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width: 22.5%;">家庭称呼</th>
                                    <th style="width: 22.5%;">姓名</th>
                                    <th style="width: 30%;">手机号码</th>
                                    <th></th>
                                </tr>
                            </thead>
                             <tbody>
                                {{each arr as item i}}
                                <tr>
                                    <td class="email-sender">{{item.appellation}}</td>
                                    <td class="email-sender">{{item.name}}</td>
                                    <td class="email-sender">{{item.phoneNum}}</td>
                                    <td>
                                        <span class="parentEdit" data-parentid="{{item.parentUUID}}"></span>
                                        <span class="parentDelete" data-parentid="{{item.parentUUID}}"></span>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </script>
                </div>
                
			</div>
            
	    </div> 

        <div id="content01" class="content hide">
            <div class="pageTitle">幼儿信息 <small>新增</small></div>
            <div class="newBox">
                <span class="closeBtn"></span>
                <ul>
                    <li>
                        <span class="col01">
                            <i class="redIcon">*</i> 姓名：
                        </span>
                        <span class="col02">
                            <input type="text" id="userName">
                        </span>
                    </li>
                    <li>
                        <span class="col01">
                            <i class="redIcon">*</i> 性别：
                        </span>
                        <span class="col02">
                            <select id="sex">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </span>
                    </li>
                    <li>
                        <span class="col01">
                            <i class="redIcon">*</i> 出生日期：
                        </span>
                        <span class="col02">
                            <input type="text" id="birthday" data-toggle="datepicker" maxlength="10">
                        </span>
                    </li>
                    <li>
                        <span class="col01">
                            班级名称：
                        </span>
                        <span class="col02"><select id="teacherClass01"></select></span>
                    </li>
                    <li>备注："<i class="redIcon">*</i>" 为必填项</li>
                </ul>
                <div id="new">保存</div>
            </div>
        </div>
        <div id="content02" class="content hide">
            <div class="pageTitle">幼儿信息 <small>导入</small></div>
            <div id="buttonBox01">
                <a href="javascript:void(0);" class="backBtn defaultBtn"><span>返回上级</span></a>
                <a href="javascript:void(0);" class="importEditBtn disable defaultBtn"><span>编辑</span></a>
                <a href="javascript:void(0);" class="importDelBtn disable defaultBtn"><span>删除数据</span></a>
                <a href="javascript:void(0);" class="importUpBtn defaultBtn"><span>提交数据</span></a>
                <a href="importForm-child.xlsx" class="templateBtn defaultBtn"><span>获取模板</span></a>
            </div>
            <div class="importFile">
                文件上传
                <input type="text" readonly="readonly">
                <span>选择文件</span>
            </div>
            <form action="" method="post" enctype ="multipart/form-data" id="filesUpload" style="display: none;" accept-charset="UTF-8"> 
                <input name="params" type="hidden" value="" />
                <input name="loginId" type="hidden" value="" />
                <input name="url" type="hidden" value="/web/basic/childUploadExl" />
                <input name="file" type="file" accept="application/vnd.ms-excel,.xlsx" />
            </form>
            <div id="main01">
                <div class="panel">
                    <div class="email-content" id="tableBox01"></div>
                    <script type="text/html" id="tableBox01_script">
                        <table class="table table-email">
                            <thead>
                                <tr>
                                    <th style="width: 10%;" class="email-select"><a href="#" data-click="email-select-all"><i class="fa fa-square-o fa-fw importIcon"></i></a></th>
                                    <th style="width: 22.5%;">姓名</th>
                                    <th style="width: 22.5%;">性别</th>
                                    <th style="width: 22.5%;">出生日期</th>
                                    <th style="width: 22.5%;">班级名称</th>
                                </tr>
                            </thead>
                             <tbody>
                                {{each arr as item i}}
                                <tr class="importIcon">
                                    <td style="word-break:break-all;" class="email-select">
                                        <a href="javascript:void(0);" data-click="email-select-single"><i class="fa fa-square-o fa-fw" data-id={{item.UUID}}></i></a>
                                    </td>
                                    <td style="word-break:break-all;" class="email-sender">{{item.name}}</td>
                                    <td style="word-break:break-all;" class="email-sender">{{item.sex}}</td>
                                    <td style="word-break:break-all;" class="email-sender">
                                        {{item.birthday}}
                                        {{if item.birthdayError}}
                                        <span class="warning">
                                            <span>{{item.birthdayError}}</span>
                                        </span>
                                        {{/if}}
                                    </td>
                                    <td style="word-break:break-all;" class="email-sender">
                                        {{item.classInfo.className}}
                                        {{if item.orgError}}
                                        <span class="warning long">
                                            <span>{{item.orgError}}</span>
                                        </span>
                                        {{/if}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </script>
                </div>
            </div>
        </div>
        <div id="content03" class="content hide">
            <div class="pageTitle">幼儿信息 <small>家长信息编辑</small></div>
            <div class="newBox">
                <span class="closeBtn"></span>
                <ul>
                    <li>
                        <span class="col01">
                            <i class="redIcon">*</i> 家庭称呼： 
                        </span>
                        <span class="col02"><select id="appellation"></select></span>
                        <script id="appellation_script" type="text/html">
                            {{each arr as value i}}
                            <option value="{{value}}">{{value}}</option>
                            {{/each}}
                        </script>
                    </li>
                    <li>
                        <span class="col01">
                            <i class="redIcon">*</i> 姓名：
                        </span>
                        <span class="col02">
                            <input type="text" id="parentName">
                        </span>
                    </li>
                    <li>
                        <span class="col01">
                            <i class="redIcon">*</i> 手机号码：
                        </span>
                        <span class="col02">
                            <input type="text" id="parentPhone" maxlength="11">
                        </span>
                    </li>
                    <li>备注："<i class="redIcon">*</i>" 为必填项</li>
                </ul>
                <div id="newParent">保存</div>
            </div>
        </div> 
	</div>

    <div class="modal fade" id="modal-edit" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="importEditBox">
                    <h4>编辑</h4>
                    <ul>
                    <li>
                        <span class="col03">
                            <i class="redIcon">*</i> 姓名：
                        </span>
                        <span class="col04">
                            <input type="text" id="userName01">
                        </span>
                    </li>
                    <li>
                        <span class="col03">
                            <i class="redIcon">*</i> 性别：
                        </span>
                        <span class="col04">
                            <select id="sex01">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </span>
                    </li>
                    <li>
                        <span class="col03">
                            <i class="redIcon">*</i> 出生日期：
                        </span>
                        <span class="col04">
                            <input type="text" id="birthday01" data-toggle="datepicker" readonly="readonly">
                        </span>
                    </li>
                    
                    <li>
                        <span class="col03">
                            <i class="redIcon">*</i> 班级名称：
                        </span>
                        <span class="col04">
                            <select id="teacherClass02"></select>
                        </span>
                    </li>
                    <li>备注："<i class="redIcon">*</i>" 为必填项</li>
                </ul>
                    <div id="new01">保存</div>
                </div>
                <span class="closeBtn01" data-dismiss="modal"></span>
            </div>
        </div>
    </div>
	<script src="../../js/common/jquery-1.11.1.min.js"></script>
    <script src="../../js/common/jquery.form.min.js"></script>
    <script src="../../js/common/modal.js"></script>
	<script src="../../js/common/jquery.nicescroll.min.js"></script>
	<script src="../../js/common/template.js"></script>
    <script src="../../js/common/jquery.toast.min.js"></script>
    <script src="../../js/common/sweetalert.min.js"></script>
    <script src="../../js/common/simplePagination.js" ></script>
    <script src="../../js/common/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

	<script src="../../js/common/base.js?t=20170925"></script>
	<script src="../../js/class/children.js?t=20170928"></script>
</body>
</html>