<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>教师信息</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="幼教产品" name="description" />
	<meta content="上海紫越网络科技有限公司" name="author" />
	<link rel="shortcut icon" href="../../images/favicon.png">

	<!-- <link href="../../css/common/bootstrap.min.css" rel="stylesheet" /> -->
	<link href="../../css/common/base.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common/jquery.toast.min.css" rel="stylesheet">
    <link href="../../css/common/sweetalert.css" rel="stylesheet">
    <link href="../../css/common/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
	<link href="./font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    

	<link href="../../css/common/sidebar.css" rel="stylesheet" type="text/css" />
	<link href="../../css/class/teachers.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="page-loader" class="fade in hide"><span class="spinner"></span></div>
	<div id="page-container" class="fade">
		<div id="sidebar" class="sidebar">
			<div id="sidebarBox">
				<div id="user">
					<div class="userPic"></div>
					<div class="userName"></div>
					<div class="userRole"></div>
				</div>
				<div id="home"> 
					<a class="homePic" href="../../menu.html">主页</a>
				</div>
				<ul id="subMenu"></ul>
				<script id="menu_script" type="text/html">
					{{each arr as value i}}
					<li class="has-list">
						<a class="hasTitle {{if value.current}}active{{/if}}" href="{{value.url}}?pid={{value.pid}}&sid={{value.id}}" data-id="{{value.id}}">{{value.name}}</a>
					</li>
					{{/each}}
          <style>
          {{each arr as value i}}
              a.hasTitle[data-id="{{value.id}}"]{
                background-image: url({{path_img}}{{value.iconArr[0]}}&minpic=0);
              }
              a.hasTitle[data-id="{{value.id}}"]:hover,a.hasTitle[data-id="{{value.id}}"].active{
                background-image: url({{path_img}}{{value.iconArr[1]}}&minpic=0);
                border: 0.02rem solid #656868;
                background-color: #f3b369;
              }
          {{/each}}
          </style>
				</script>
			</div>
			<div id="switch" class=""><span></span></div>
		</div>

		<div id="content" class="content">
			<div class="pageTitle">教师信息</div>
			<div id="search">
				<label>
      				任职类型：
      				<select id="teacherType">
                        <option value="">所有类型</option>
                    </select>
      				<script id="teacherType_script" type="text/html">
      					{{each arr as value i}}
						<option value="{{value.typeID}}">{{value.typeName}}</option>
      					{{/each}}
      				</script>
      			</label>
      			<label>
      				任职班级：
      				<select id="teacherClass"></select>
    				<script id="teacherClass_script" type="text/html">
      					<option value="">所有班级</option>
      					{{each arr as value i}}
						<option value="{{value.classUUID}}">{{value.className}}</option>
      					{{/each}}
      				</script>
      			</label>
      			<label>
      				教师姓名：
      				<input type="text" placeholder="请输入姓名" id="teacherName">
      			</label>
      			<span id="searchBtn">查询</span>
			</div>
			<div id="buttonBox">
        <script type="text/html" id="buttonBox_script">
          {{each arr as value  i}}
          <a href="javascript:void(0);" id="{{value.buttonCode}}" class="defaultBtn"><span>{{value.name}}</span></a>
          {{/each}}
        </script>
			</div>
			<div id="main">
				<div class="panel">
                   	<div class="email-content" id="tableBox"></div>
                    <script type="text/html" id="tableBox_script">
                        <table class="table table-email">
                            <thead>
                                <tr>
                                    <th style="width: 5%;" class="email-select"><a href="#" data-click="email-select-all"><i class="fa fa-square-o fa-fw"></i></a></th>
                                    <th style="width: 14%;">姓名</th>
                                    <th style="width: 6%;">性别</th>
                                    <th style="width: 15%;">出生日期</th>
                                    <th style="width: 15%;">手机号码</th>
                                    <th style="width: 20%;">任职类型</th>
                                    <th style="width: 25%;">任职班级</th>
                                </tr>
                            </thead>
                           	 <tbody>
                           	 	{{each resultList as item i}}
                            	<tr>
                                  	<td style="word-break:break-all;" class="email-select">
                                  		<a href="javascript:void(0);" data-click="email-select-single"><i class="fa fa-square-o fa-fw" data-id={{item.staffUUID}}></i></a>
                                  	</td>
                                  	<td style="word-break:break-all;" class="email-sender">{{item.name}}</td>
                                  	<td style="word-break:break-all;" class="email-sender">{{item.sex}}</td>
                                  	<td style="word-break:break-all;" class="email-sender">{{item.birthday}}</td>
                                  	<td style="word-break:break-all;" class="email-sender">{{item.phoneNum}}</td>
                                  	<td style="word-break:break-all;" class="email-sender">{{item.jobTitle}}</td>
                                  	<td style="word-break:break-all;" class="email-sender email-date">
                                    {{if !item.className.length ==0}}
                                  		{{if item.className.length ==1}}
											{{each item.className as value j}}{{value}}{{/each}}
                                  		{{else}}
                                  			<span>...</span>
                                  			<span class="fade in hide">
                                  				<span></span>
                                  				{{each item.className as value j}}
                                  					{{if j !=0}},{{/if}}
                                  					{{value}}
                                  				{{/each}}
                                  			</span>
                                  		{{/if}}
                                    {{/if}}
                                  	</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </script>
                </div>
                <ul id="pagination"></ul>
			</div>
	    </div> 

        <div id="content01" class="content hide">
            <div class="pageTitle">教师信息 <small>新增</small></div>
            <div class="newBox">
                <span class="closeBtn"></span>
                <ul>
                    <li>
                        <span class="col01">
                            <i class="redIcon">*</i> 姓名：
                        </span>
                        <span class="col02">
                            <input type="text" id="userName">
                        </span>
                    </li>
                    <li>
                        <span class="col01">
                            <i class="redIcon">*</i> 性别：
                        </span>
                        <span class="col02">
                            <select id="sex">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </span>
                    </li>
                    <li>
                        <span class="col01">
                            <i class="redIcon">*</i> 出生日期：
                        </span>
                        <span class="col02">
                            <input type="text" id="birthday" data-toggle="datepicker">
                        </span>
                    </li>
                    <li>
                        <span class="col01">
                            <i class="redIcon">*</i> 手机号码：
                        </span>
                        <span class="col02">
                            <input type="text" id="phoneNum">
                            <span class="hide">提示：手机格式不正确</span>
                        </span>
                    </li>
                    <li>
                        <span class="col01">
                            <i class="redIcon">*</i> 任职类型：
                        </span>
                        <span class="col02">
                            <select id="teacherType01"></select>
                        </span>
                    </li>
                    <li>
                        <span class="col01">
                            关联班级：
                        </span>
                        <span class="col02" id="teacherClass01"></span>
                        <script id="teacherClass01_script" type="text/html">
                            {{each arr as value i}}
                            <label>
                                <input type="checkbox" value="{{value.classUUID}}"> {{value.className}}
                            </label>
                            {{/each}}
                        </script>
                    </li>
                    <li>备注："<i class="redIcon">*</i>" 为必填项</li>
                </ul>
                <div id="new">保存</div>
            </div>
        </div> 
	</div>
	<script src="../../js/common/jquery-1.11.1.min.js"></script>
	<script src="../../js/common/jquery.nicescroll.min.js"></script>
	<script src="../../js/common/template.js"></script>
    <script src="../../js/common/jquery.toast.min.js"></script>
    <script src="../../js/common/sweetalert.min.js"></script>
    <script src="../../js/common/simplePagination.js" ></script>
    <script src="../../js/common/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

	<script src="../../js/common/base.js"></script>
	<script src="../../js/class/teachers.js"></script>
</body>
</html>