*{
    box-sizing: border-box;
}
.pageTitle{
	color: #646766;
	font-size: 0.24rem;
	font-weight: 900;
	margin-bottom: 0.4rem;
}
.pageTitle >small{
	font-size: 0.16rem;
	font-weight: 500;
}
#search{
	color: #636665;
	margin-bottom: 0.3rem;
}
#search >label >select{
	min-width: 1.6rem;
	height: 0.4rem;
	margin-right: 0.4rem;
	border: 0.01rem solid #c9cccb;
	border-radius: 0.1rem;
	padding: 0.05rem;
	-webkit-appearance: none; 
   	-moz-appearance: none;
   	appearance: none;
   	background: url(../../images/common/selectArrow.png) 95% center no-repeat;
   	color: #969998;
   	background-color: #fff;
}
#search >label >select >option{
	height: 0.3rem;
	padding: 0.05rem;
	display: block;
	line-height: 0.3rem;
	vertical-align: middle;
}
#search >label >input{
	min-width: 1.6rem;
	height: 0.4rem;
	margin-right: 0.4rem;
	border: 0.01rem solid #c9cccb;
	border-radius: 0.1rem;
	padding: 0.05rem 0.1rem;
   	color: #969998;
}
#searchBtn{
	display: inline-block;
	border: 0.01rem solid #c9cccb;
	height: 0.4rem;
	line-height: 0.4rem;
	padding: 0 0 0 0.25rem;
	border-radius: 0.1rem;
	width: 0.88rem;
	cursor: pointer;
	background: url(../../images/common/searchIcon.png) 0.15rem center no-repeat;
	text-align: center;
	background-color: #fff;
	vertical-align: top;
}
#searchBtn:hover{
	background-color: #e1e1e1;
}
.defaultBtn{
	display: inline-block;
	width: 1.08rem;
	margin-right: 0.2rem;
	height: 0.55rem;
	text-align: center;
	line-height: 0.5rem;
	background: url(../../images/common/btnBg.png) center center no-repeat;
}
.defaultBtn:hover{
	background: url(../../images/common/btnBgHover.png) center center no-repeat;
}
.defaultBtn >span{
	display: inline-block;
	padding-left: 0.28rem;	
}
.defaultBtn:hover >span{
	color: #5cdfe2;
}
#newMenu >span{
	background: url(../../images/common/newBtn.png) 0 center no-repeat;
}
#editMenu >span{
	background: url(../../images/common/editBtn.png) 0 center no-repeat;
}
#newLine >span{
	background: url(../../images/health/newLine.png) 0 center no-repeat;
}
#deleteLine >span{
	background: url(../../images/health/deleteLine.png) 0 center no-repeat;
}
#newCol >span{
	background: url(../../images/health/newCol.png) 0 center no-repeat;
}
#deleteCol >span{
	background: url(../../images/health/deleteCol.png) 0 center no-repeat;
}
#deleteMenu >span{
	background: url(../../images/health/deleteMenu.png) 0 center no-repeat;
}
#buttonBox{
	margin-bottom: 0.2rem;
}
.disable{
	opacity:0.3;
}









/*table start*/
.panel {
	margin-bottom: 0.2rem;
	padding: 0.15rem;
	background-color: #fff;
	border: 0.01rem solid #e8ebea;
	border-radius: 0.1rem;
	-webkit-box-shadow: 0 0.01rem 0.01rem rgba(0,0,0,.05);
	box-shadow: 0 0 0.01rem rgba(0,0,0,.05);
}
.panel.long{
	margin-right: 2.4rem;
}
.table{
	width: 100%;
	color: #656565;
	border-spacing: 1px;
	border-collapse: separate;
}
.table >thead >tr{
	border-bottom: 0.01rem solid #e8ebea;
}
th,td {
	text-align: center;
}
.table > thead > tr > th {
	color: #646464;
	font-weight: 600;
}
.table.table-email tr:hover td {
	background: #f4f7f6;
	cursor: pointer;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding: 0.14rem 0.08rem;
	line-height: 1.42857143;
	vertical-align: top;
	border: 1px solid #ddd;
	word-break: break-all;
}
.fa.fa-check-square-o{
	color: #5ce0de;
}
.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.table .email-date{
	position: relative;
}
.table .email-date:hover > .fade.in.hide {
	display: inline-block !important;
	text-align: left;
	position: absolute;
	border: 0.02rem solid #666;
	padding: 0.1rem;
	min-width: 1.56rem;
	min-height: 0.55rem;
	left: 60%;
	top: 0;
	background-color: #f8e665;
	border-radius: 0.1rem;
}
.table .email-date > .fade.in.hide > span {
	display: inline-block;
	width: 0.2rem;
	height: 0.36rem;
	left: -0.19rem;
	top: 0.1rem;
	position: absolute;
	background: url(../../images/common/tableArrow.png) 0 center no-repeat;
}
/*table end*/



/*分页 start*/
#main{
	text-align: center;
}
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 10px 0;
	border-radius: 4px;
}
.pagination > li {
	display: inline;
}
.pagination > li > a, .pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: 10px;
	line-height: 1.42857143;
	color: #242a30;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
	/*background: url(../../images/common/pagination.png) 0 center no-repeat;
	background-size: contain;*/
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #242a30;
	border-color: #242a30;
}
.pagination > li > a:hover{
	background-color: #e2e7eb;
}
/*分页 end*/

/*新增 start*/
.newBox{
	width: 10rem;
	height: 7rem;
	margin: auto;
	background-color: #f4f7f6;
	color: #969998;
	border-radius: 0.1rem;
	padding: 1rem 1.65rem 0.8rem 1.2rem;
	border: 0.01rem solid #e8ebea;
	box-shadow: 0 0 0.04rem rgba(0,0,0,0.4);
	font-size: 0.14rem;
	position: relative;
	margin-top: 1rem;
}
.newBox ul >li{
	height: 0.4rem;
	margin-bottom: 0.3rem;
}
.newBox ul >li:nth-of-type(5){
	margin-bottom: 0.2rem;
}
.newBox ul >li:last-of-type{
	padding-top: 0.2rem;
	padding-left: 0.4rem;
}
.redIcon{
	color: #f64747;
}
.col01 {
	display: inline-block;
	width: 1.1rem;
	padding-right: 0.08rem;
	text-align: right;
	vertical-align: top;
	line-height: 0.4rem;
}
.col02{
	display: inline-block;
	width: 5.9rem;
	height: 100%;
	color: #666;
}
.col02 >input{
	width: 100%;
	height: 100%;
	padding: 0.1rem 0.2rem;
	border: 0.01rem solid #c9cccb;
	border-radius: 0.1rem;
}
.col02 >input.empty{
	border: 0.01rem solid #fb8085;
}
.col02 >span{
	color: #fb8085;
}
.col02 > select {
	width: 100%;
	height: 0.4rem;
	margin-right: 0.4rem;
	border: 0.01rem solid #c9cccb;
	border-radius: 0.1rem;
	padding: 0.1rem 0.15rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../../images/common/selectArrow.png) 97% center no-repeat;
	color: #666;
	background-color: #fff;
}
.col02 > select > option {
	height: 0.3rem;
	padding: 0.05rem 0.16rem;
	display: block;
	line-height: 0.3rem;
	vertical-align: middle;
}
.col02 >label{
	line-height: 0.2rem;
	margin-right: 0.1rem;
	cursor: pointer;
}
#new{
	width: 0.8rem;
	height: 0.4rem;
	line-height: 0.4rem;
	background-color: #5cdfe2;
	border-radius: 0.1rem;
	color: #fff;
	text-align: center;
	float: right;
	cursor: pointer;
}
#new:hover{
	background-color: #29d1d5;
}
.closeBtn {
	display: inline-block;
	cursor: pointer;
	width: 0.5rem;
	height: 1.1rem;
	background: url(../../images/growth/closeBtn.png) no-repeat center center;
	position: absolute;
	top: -1.08rem;
	right: 0rem;
	z-index: 0;
}
/*新增 end*/



#menuList{
	position: fixed;
	border-left: 1px solid #eff2f1;
	right: 0;
	top: 0;
	bottom: 0;
}
#menuList > ul {
	background-color: #fff;
	width: 100%;
	height: 100%;
	min-height: 300px;
	border-radius: 5px 0 0 5px;
	width: 230px;
	padding: 20px 0;
	overflow: hidden;
}
ul,li{
	list-style: none;
	padding: 0;
	margin: 0;
}
#menu > li {
	height: 40px;
	border-bottom: 1px solid #d9e0e7;
	text-align: left;
	line-height: 40px;
	cursor: pointer;
}
#menu >li:hover{
	background-color: #f5f6f6;
}
#menu >li >.menuIcon{
	margin-left: 8px;
	display: inline-block;
	width: 26px;
	height: 26px;
	line-height: 26px;
	color: #fff;
	text-align: center;
	border-radius: 13px;
	background-color: #5cdfe2;
}
#menu > li > .menuTitle {
	margin: 0 5px;
	width: 70px;
	display: inline-block;
	overflow: hidden;
	color: #000;
	vertical-align: middle;
	height: 44px;
}
#menu .hideBtn span{
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 60px;
	background:url(../../img/health/hideBtn.png) center center no-repeat;
}
#menuMain th {
	min-width: 100px;
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	background-color: #f7e463;
	color:#666;
}
#menuMain tr >td:first-of-type{
	text-align: center;
}
.hideBtn{
	position: absolute;
	left: -40px;
	letter-spacing: 5px;
	top: 35%;
	float: left;
	writing-mode: vertical-lr;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	width: 40px;
	height: 175px;
	padding-left: 10px;
	cursor: pointer;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	background-color: #5cdfe2;
}
.health-info > tbody > tr:hover > td{
	border: 1px solid #f7e365;
}
.health-info > tbody > tr:hover > td >input{
	display: block;
	width: 100%;
	height: 100%;
}
.health-info > thead > tr> th >textarea{
	color: #000;
}
.health-info > tbody > tr> td >textarea{
	color: #000;
}
.health-info textarea{
	width: 100%;
	height: 100%;
}
.btn.btn-quit {
	color: #ccc;
	margin: 0 15px;
	background: #eee;
	border-color: #eee;
}
.btn.btn-quit:hover {
	color: #fff;
	background: #ccc;
	border-color: #ccc;
}
#menuMain >table >tbody >tr{
	height: 60px;
}
#menuMain >table >thead >tr{
	height: 40px;
}
.health-info > tbody > tr.active > td {
	border: 1px solid #f7e365;
	/*background: #49b6d6;*/
}
.health-info.table > thead > tr > th.current {
	background: #49b6d6;
	border-color: #e2e7e9;
}
.health-info > tbody > tr > td.current {
	border: 1px solid #f7e365;
}
.hoverBtn{
	display: none;
}
#editMenu{
	position: relative;
}
.hoverBtn.current {
	position: absolute;
	background-color: #5cdfe2;
	top: 56px;
	left: -4px;
	color: #fff;
	display: inline-block;
	line-height: 0.3rem;
	width: 1.1rem;
	height: 0.3rem;
	font-size: 0.12rem;
}
.conTime{
	text-align: center;
	padding-bottom: 5px;
	color:#666;
}
.modal-body{
	height: 140px;
}
.modal-body .col-md-2{
	text-align: right;
}
.form-group {
	margin-bottom: 24px;
	height: 12px;
}
.modal-header {
	background-color: #13b5dd;
	overflow: hidden;
}
.modal-title {
	color: #fff;
}
.modal-content {
	border: none;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	padding:0;
}
.modal-dialog {
	margin: 100px auto;
}
input.fill.empty{
	border: 1px solid #e6504b;
}
.row >.col-md-10{
	padding-right: 28px;
}
.conTitle{
	text-align: center;
	cursor: pointer;
	color: #676767;
	font-weight: 700;
	font-size:0.24rem;
	margin: 0px auto 10px;
	width: 50%;
	height: 0.35rem;
}
.conTitle:hover{
	background-color: #f8f8f8;
}
.conTitle >input{
	height: 100%;
	width: 100%;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.btn.btn-success {
	color: #fff;
	background: #5cdfe2;
	border-color: #5cdfe2;
}
.btn.btn-success.active, .btn.btn-success:active, .btn.btn-success:focus, .btn.btn-success:hover, .open .dropdown-toggle.btn-success {
	background: #008a8a;
	border-color: #008a8a;
}
.menuBtn{
	margin-top: 0.2rem;
	text-align: right;
}


.modal-dialog {
	margin: 100px auto;
}
.modal-header {
	min-height: 16.43px;
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
}
.modal-header {
	min-height: 16.43px;
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
}
.modal-header {
	padding: 12px 15px;
	border-bottom-color: #e2e7eb;
}
.close {
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
}
button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}
.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: .5;
}
.modal-header .close {
	margin-top: 2px;
}
.modal-title {
	margin: 0;
	line-height: 1.42857143;
}
.modal-title {
	margin: 0;
	line-height: 1.42857143;
}
h4, .h4 {
	font-size: 18px;
}
.modal-dialog{
	width: 6rem;
}
.modal-body {
	position: relative;
	padding: 20px 15px;
	color:#666;
}
.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}
.modal-footer {
	border-top-color: #e2e7eb;
	padding: 14px 15px 15px;
}
.modal-dialog{
	min-height:auto;
	height:auto;
}
#planBegintime,#planEndtime{
	width: 2.18rem;
	height: 0.3rem;
}
#healthLine,#healthCol{
	width: 1.65rem;
	height: 0.3rem;
}
.content{
	min-width: 9rem;
}