*{
    box-sizing: border-box;
}
.pageTitle{
	color: #646766;
	font-size: 0.24rem;
	font-weight: 900;
	margin-bottom: 0.4rem;
}
.pageTitle >small{
	font-size: 0.16rem;
	font-weight: 500;
}
#search{
	color: #636665;
	margin-bottom: 0.3rem;
}
#search >label >select{
	min-width: 1.4rem;
	height: 0.4rem;
	margin-right: 0.4rem;
	border: 0.01rem solid #c9cccb;
	border-radius: 0.1rem;
	padding: 0.05rem;
	-webkit-appearance: none; 
   	-moz-appearance: none;
   	appearance: none;
   	background: url(../../images/common/selectArrow.png) 95% center no-repeat;
   	color: #969998;
   	background-color: #fff;
}
#search >label >select >option{
	height: 0.3rem;
	padding: 0.05rem;
	display: block;
	line-height: 0.3rem;
	vertical-align: middle;
}
#search >label >input{
	min-width: 1.4rem;
	height: 0.4rem;
	margin-right: 0.4rem;
	border: 0.01rem solid #c9cccb;
	border-radius: 0.1rem;
	padding: 0.05rem 0.1rem;
   	color: #969998;
}
#searchBtn{
	display: inline-block;
	border: 0.01rem solid #c9cccb;
	height: 0.4rem;
	line-height: 0.4rem;
	padding: 0 0 0 0.25rem;
	border-radius: 0.1rem;
	width: 0.88rem;
	cursor: pointer;
	background: url(../../images/common/searchIcon.png) 0.15rem center no-repeat;
	text-align: center;
	background-color: #fff;
	vertical-align: top;
}
#searchBtn:hover{
	background-color: #e1e1e1;
}
.defaultBtn{
	display: inline-block;
	width: 1.08rem;
	margin-right: 0.2rem;
	height: 0.55rem;
	text-align: center;
	line-height: 0.5rem;
	background: url(../../images/common/btnBg.png) center center no-repeat;
}
.defaultBtn:hover{
	background: url(../../images/common/btnBgHover.png) center center no-repeat;
}
.defaultBtn >span{
	display: inline-block;
	padding-left: 0.28rem;	
}
.defaultBtn:hover >span{
	color: #5cdfe2;
}
#newBtn >span{
	background: url(../../images/common/newBtn.png) 0 center no-repeat;
}
#editBtn >span,.importEditBtn >span{
	background: url(../../images/common/editBtn.png) 0 center no-repeat;
}
#deleteBtn >span{
	background: url(../../images/common/deleteBtn.png) 0 center no-repeat;
}
.importDelBtn >span{
	background: url(../../images/common/deleteBtn.png) 5px center no-repeat;
}
.importUpBtn >span{
	background: url(../../images/common/importUpBtn.png) 0 center no-repeat;
}
.templateBtn >span{
	background: url(../../images/common/templateBtn.png) 5px center no-repeat;
}
#importBtn >span{
	background: url(../../images/common/importBtn01.png) 0 center no-repeat;
}
#template >span{
	background: url(../../images/common/templateBtn.png) 0 center no-repeat;
}
#export >span{
	background: url(../../images/common/exportBtn.png) 0 center no-repeat;
}
#buttonBox,#buttonBox01{
	margin-bottom: 0.2rem;
}
.backBtn > span {
	background: url(../../images/common/backBtn.png) 0 center no-repeat;
	padding-left: 0.24rem;
}
.disable{
	opacity:0.3;
}









/*table start*/
.panel {
	margin-bottom: 0.2rem;
	padding: 0.15rem;
	background-color: #fff;
	border: 0.01rem solid #e8ebea;
	border-radius: 0.1rem;
	-webkit-box-shadow: 0 0.01rem 0.01rem rgba(0,0,0,.05);
	box-shadow: 0 0 0.01rem rgba(0,0,0,.05);
}
.table {
	color: #656565;
	border-spacing: 1px;
	border-collapse: separate;
	width: 100%;
}
.table >thead >tr{
	border-bottom: 0.01rem solid #e8ebea;
}
th,td {
	text-align: center;
}
.table > thead > tr > th {
	color: #fff;
	font-weight: 500;
}
.table.table-email tr:hover td {
	border: 1px solid #f7e463;
	cursor: pointer;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding: 0.14rem 0.08rem;
	line-height: 1.42857143;
	vertical-align: top;
	border: 1px solid #ddd;
	word-break: break-all;
}
.fa.fa-check-square-o{
	color: #5ce0de;
}
.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.table .email-date{
	position: relative;
}
.table .email-date:hover > .fade.in.hide {
	display: inline-block !important;
	text-align: left;
	position: absolute;
	border: 0.02rem solid #666;
	padding: 0.1rem;
	min-width: 1.56rem;
	min-height: 0.55rem;
	right: 75%;
	top: 0;
	background-color: #f8e665;
	border-radius: 0.1rem;
}
.table .email-date > .fade.in.hide > span {
	display: inline-block;
	width: 0.2rem;
	height: 0.36rem;
	right: -0.15rem;
	top: 0.1rem;
	position: absolute;
	background: url(../../images/health/tableArrow.png) 0 center no-repeat;
}
.warningBox{
	line-height:0.3rem;
}
.warningBox::before{
	width: 0.16rem;
	height: 0.16rem;
	display:inline-block;
	border-radius:0.1rem;
	background-color: #f89942;
	content:"";
	vertical-align: middle;
	margin-right: 0.1rem;
}
i.upBtn{
	display:inline-block;
	width: 0.2rem;
	height: 0.25rem;
	background: url(../../images/health/up.png) 0 center no-repeat;
	vertical-align: middle;
	float: right;
}
i.downBtn{
	display:inline-block;
	width: 0.2rem;
	height: 0.25rem;
	background: url(../../images/health/down.png) 0 center no-repeat;
	vertical-align: middle;
	float: right;
}
/*table end*/



/*??? start*/

#main,#main01{
	text-align: center;
}
.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 10px 0;
	border-radius: 4px;
}
.pagination > li {
	display: inline;
}
.pagination > li > a, .pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: 10px;
	line-height: 1.42857143;
	color: #242a30;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
	/*background: url(../../images/common/pagination.png) 0 center no-repeat;
	background-size: contain;*/
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #242a30;
	border-color: #242a30;
}
.pagination > li > a:hover{
	background-color: #e2e7eb;
}
/*??? end*/

/*?? start*/
.newBox{
	width: 10rem;
	height: 9.7rem;
	background-color: #fff;
	color: #969998;
	border-radius: 0.1rem;
	padding: 0.1rem 0.3rem;
	border: 0.01rem solid #e8ebea;
	font-size: 0.14rem;
	position: relative;
	margin: auto;
}
.newBox ul >li{
	height: 0.4rem;
	margin-bottom: 0.3rem;
}
.newBox ul >li:nth-of-type(5){
	margin-bottom: 0.2rem;
}
.newBox ul >li:last-of-type{
	padding-top: 0.2rem;
	padding-left: 0.4rem;
}
.redIcon{
	color: #f64747;
}
.col01 {
	display: inline-block;
	width: 1.1rem;
	padding-right: 0.08rem;
	text-align: right;
	vertical-align: top;
	line-height: 0.4rem;
}
.col02{
	display: inline-block;
	width: 5.9rem;
	height: 100%;
	color: #666;
}
.col02 >input{
	width: 100%;
	height: 100%;
	padding: 0.1rem 0.2rem;
	border: 0.01rem solid #c9cccb;
	border-radius: 0.1rem;
}
.col02 >input.empty{
	border: 0.01rem solid #fb8085;
}
.col02 >span{
	color: #fb8085;
}
.col02 > select {
	width: 100%;
	height: 0.4rem;
	margin-right: 0.4rem;
	border: 0.01rem solid #c9cccb;
	border-radius: 0.1rem;
	padding: 0.1rem 0.15rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../../images/common/selectArrow.png) 97% center no-repeat;
	color: #666;
	background-color: #fff;
}
.col02 > select > option {
	height: 0.3rem;
	padding: 0.05rem 0.16rem;
	display: block;
	line-height: 0.3rem;
	vertical-align: middle;
}
.col02 >label{
	line-height: 0.2rem;
	margin-right: 0.1rem;
	cursor: pointer;
}
#new,#new01{
	width: 0.8rem;
	height: 0.4rem;
	line-height: 0.4rem;
	background-color: #5cdfe2;
	border-radius: 0.1rem;
	color: #fff;
	text-align: center;
	float: right;
	cursor: pointer;
}
#new:hover,#new01:hover{
	background-color: #29d1d5;
}
.closeBtn,.closeBtn01 {
	display: inline-block;
	cursor: pointer;
	width: 0.5rem;
	height: 1.1rem;
	background: url(../../images/growth/closeBtn.png) no-repeat center center;
	position: absolute;
	top: -1.08rem;
	right: 0rem;
	z-index: 0;
}
/*?? end*/

.importFile{
	color:#656565;
}
.importFile input{
	height: 0.4rem;
	width: 1.8rem;
	border-radius:0.1rem 0 0 0.1rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #cacccc;
	margin-left: 0.1rem;
	margin-bottom: 0.2rem;
	padding-left: 0.1rem;
	color:#656565;
}
.importFile span{
	display:inline-block;
	height: 0.4rem;
	width: 1rem;
	background-color: #5cdee1;
	color:#fff;
	line-height:0.4rem;
	margin-left: -0.05rem;
	text-align: center;
	border-radius:0 0.1rem 0.1rem 0;
	vertical-align: top;
	cursor: pointer;
}
.importFile span:hover{
	background-color: #0ad9de;
}
.warning{
	position:relative;
	display:inline-block;
	width: 0.36rem;
	height: 0.36rem;
	border-radius: 0.12rem;
	vertical-align:top;
	background: url(../../images/health/warning.png) center center no-repeat;
}
.ok{
	position:relative;
	display:inline-block;
	width: 0.36rem;
	height: 0.36rem;
	border-radius: 0.12rem;
	vertical-align:top;
	background: url(../../images/health/ok.png) center center no-repeat;
}
.success{
	position:relative;
	display:inline-block;
	width: 0.22rem;
	height: 0.22rem;
	border-radius: 0.12rem;
	vertical-align:top;
}
.warning > span {
	position: absolute;
	display: none;
	padding: 0.06rem;
	top: -0.1rem;
	left: 0.25rem;
	border: 2px solid #656666;
	background-color: #f8e264;
	border-radius: 0.1rem;
	z-index: 1000;
	word-break:keep-all;
}
.warning.long >span{
	width: 1.5rem;
	word-break:break-all;
	text-align: left;
}
.warning:hover >span{
	display:inline-block;
}
.modal-dialog{
	height: 7.6rem;
	width: 12rem;
	margin:1.6rem auto 0;
}

.col03 {
	display: inline-block;
	width: 1.1rem;
	padding-right: 0.08rem;
	text-align: right;
	vertical-align: top;
	line-height: 0.4rem;
}
.col04{
	display: inline-block;
	width: 5.2rem;
	height: 100%;
	color: #666;
}
.col04 >input{
	width: 100%;
	height: 100%;
	padding: 0.1rem 0.2rem;
	border: 0.01rem solid #c9cccb;
	border-radius: 0.1rem;
}
.col04 >input.empty{
	border: 0.01rem solid #fb8085;
}
.col04 >span{
	color: #fb8085;
}
.col04 > select {
	width: 100%;
	height: 0.4rem;
	margin-right: 0.4rem;
	border: 0.01rem solid #c9cccb;
	border-radius: 0.1rem;
	padding: 0.1rem 0.15rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../../images/common/selectArrow.png) 97% center no-repeat;
	color: #666;
	background-color: #fff;
}
.col04 > select > option {
	height: 0.3rem;
	padding: 0.05rem 0.16rem;
	display: block;
	line-height: 0.3rem;
	vertical-align: middle;
}
.col04 >label{
	line-height: 0.2rem;
	margin-right: 0.1rem;
	cursor: pointer;
}
#importEditBox >ul >li{
	height: 0.4rem;
	margin-bottom: 0.2rem;
}
#importEditBox >h4{
	text-align: left;
	color:#333;
	font-size:0.18rem;
	font-weight: 900;
	font-weight: bold;
	line-height: 0.7rem;
}
#importEditBox >h4 >span{
	text-align: right;
	float: right;
	color: #5cdee1;
	font-size: 0.12rem;
}
.modal-content{
	padding:0 0.3rem;
	background-color: #fff;
	border-radius: 0.06rem;
}
.table th {
	text-align: center;
	cursor: pointer;
	vertical-align: middle;
	background-color: #5cdfe2;
	color:#666;
}
table > tbody > tr.active > td {
	border: 1px solid #f7e463;
	background: #f7e463;
}












/*ÐÂÔö*/
.newBox input {
	min-width: 1.4rem;
	height: 0.4rem;
	margin-right: 0.4rem;
	border: 0.01rem solid #c9cccb;
	border-radius: 0.1rem;
	padding: 0.05rem 0.1rem;
	color: #969998;
}
.newBox select {
	min-width: 1.4rem;
	height: 0.4rem;
	margin-right: 0.4rem;
	border: 0.01rem solid #c9cccb;
	border-radius: 0.1rem;
	padding: 0.05rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../../images/common/selectArrow.png) 95% center no-repeat;
	color: #969998;
	background-color: #fff;
	width: 1.59rem;
}
.newBox select > option {
	height: 0.3rem;
	padding: 0.05rem;
	display: block;
	line-height: 0.3rem;
	vertical-align: middle;
}
.newBox h4{
	border-left: 2px solid #5cdfe2;
	padding-left: 0.1rem;
	color: #666;
	margin: 0.2rem auto;
	font-weight: 900;
	font-size: 0.16rem;
}
.newBox .row{
	padding-left: 0.2rem;
	line-height: 0.6rem;
}
.newBox label >span{
	display:inline-block;
	width: 0.9rem;
}
.text-danger {
	color: #ff5b57 !important;
	font-size: 0.12rem;
	font-weight: 400;
}
select[disabled="disabled"], #h-age,.readonly{
	background-color: #f1f1f1;
}
#h-birthday{
	background: url(../../images/health/cal.png) 1.28rem center no-repeat #f1f1f1;
}
#createDate{
	background: url(../../images/health/cal.png) 1.28rem center no-repeat;
}
.reset01 {
	clear: both;
	padding: 20px;
	width: 100%;
	height: 200px;
	background: #f7f9fa;
	border: 1px solid #d9e0e7;
	border-radius: 4px;
	color: #707478;
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 0.3rem;
}
.reset01 span {
	color: #49b6d6;
}
#importTable{
	height: 6.1rem;
	margin-bottom: 0.2rem;
	border: 1px solid #000;
}
#quit {
	width: 0.9rem;
	height: 0.34rem;
	line-height: 0.32rem;
	background-color: #f7fafa;
	border: 1px solid #e8ebeb;
	border-radius: 0.04rem;
	color: #6f7070;
	text-align: center;
	float: right;
	cursor: pointer;
	margin-top: 1.8rem;
	margin: 0 0.2rem 0;
}
#quit:hover {
	background-color: #eee;
}
#save {
	width: 0.9rem;
	height: 0.34rem;
	line-height: 0.32rem;
	background-color: #5cdfe2;
	border-radius: 0.04rem;
	color: #fff;
	text-align: center;
	float: right;
	cursor: pointer;
	margin-top: 1.8rem;
	margin: 0;
}
#save:hover {
	background-color: #29d1d5;
}
input.empty {
	border: 0.01rem solid #fb8085;
}
a.hasTitle{
	-webkit-background-size: 0.5rem;
	background-size: 0.5rem;
}
.machine{
	display: inline-block;
	width: 0.16rem;
	height: 0.16rem;
	background: url(../../images/health/healthBtn.png) center center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	vertical-align: top;
	float: right;
}
.machineBox{
	text-align: right;
}
.machineBox .machine{
	float: none;
}