<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>成长档案</title>
	<meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="幼教产品" />
    <meta name="author" content="上海紫越网络科技有限公司" />
	<link rel="shortcut icon" href="../../images/favicon.png">

	<!-- <link href="../../css/common/bootstrap.min.css" rel="stylesheet" /> -->
    <!-- <link href="../../plugins/bootstrap-3.1.1/css/bootstrap.min.css" rel="stylesheet" /> -->
	<link href="../../css/common/base.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common/modal.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common/jquery.toast.min.css" rel="stylesheet">
    <link href="../../css/common/sweetalert.css" rel="stylesheet">
    <link href="../../css/common/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
	<link href="./font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    
	<link href="../../css/common/sidebar.css" rel="stylesheet" type="text/css" />
    <link href="../../css/interaction/recordList.css" rel="stylesheet" />
</head>
<body>
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<div id="page-container">
		<div id="sidebar" class="sidebar">
			<div id="sidebarBox">
				<div id="user">
					<div class="userPic"><a href="../../index.html">退出登录</a></div>
					<div class="userName"></div>
					<div class="userRole"></div>
				</div>
				<div id="home"> 
					<a class="homePic" href="../../menu.html">主页</a>
				</div>
				<ul id="subMenu"></ul>
				<script id="menu_script" type="text/html">
					{{each arr as value i}}
					<li class="has-list">
						<a class="hasTitle {{if value.current}}active{{/if}}" href="{{value.url}}?pid={{value.pid}}&sid={{value.newId}}" data-id="{{value.id}}">{{value.name}}</a>
					</li>
					{{/each}}
                    <style>
                    {{each arr as value i}}
                        a.hasTitle[data-id="{{value.id}}"]{background-image: url({{path_img}}{{value.iconArr[0]}});}
                        a.hasTitle[data-id="{{value.id}}"]:hover,a.hasTitle[data-id="{{value.id}}"].active{background-image: url({{path_img}}{{value.iconArr[1]}});border: 0.02rem solid #656868;background-color: #f3b369;}
                    {{/each}}
                    </style>
				</script>
			</div>
			<div id="switch" class=""><span></span></div>
		</div>

		<div id="content" class="content">
			<div class="pageTitle">成长档案</div>
			<div id="search">
                <label>
                    任职班级：
                    <select id="teacherClass"></select>
                    <script id="teacherClass_script" type="text/html">
                        {{each arr as value i}}
                        <option value="{{value.classUuid}}">{{value.className}}</option>
                        {{/each}}
                    </script>
                </label>
				<label>
      				年份：
      				<select id="year01"></select>
      				<script type="text/html" id="year_script">
                        {{each year as value i}}
                        <option value="{{value}}">{{value}}年</option>
                        {{/each}}
                    </script>
      			</label>
      			<label>
                    月份：
                    <select id="month01"></select>
                    <script type="text/html" id="month_script">
                        {{each month as value i}}
                        <option value="{{value}}">{{value}}月</option>
                        {{/each}}
                    </script>
                </label>
                <!-- <a class="newInfo" href="../../../memberRecord/Instructions.html" target="_blank">新版成长档案功能介绍</a> -->
      			<span id="searchBtn">查询</span>
			</div>
			<div id="main">
				<ul id="members"></ul>
                <script type="text/html" id="members_script">
                    {{each data as value i}}
                    <li>
                        <a class="membersBg" data-useruuid="{{value.userUuid}}" style="background-image: url({{value.userPic}});" href="#modal-dialog-qunzu" data-toggle="modal">
                            <div class="firstArea">
                                <span class="recordList" data-useruuid="{{value.userUuid}}" data-username="{{value.userName}}" data-value="{{value.value}}"></span>
                                <span class="addBtn" data-useruuid="{{value.userUuid}}" data-needcreate="{{value.needCreate}}" data-value="{{value.value}}"></span>
                            </div>
                            <div class="secondArea">
                                <span class="icon01">{{value.studentNum}}</span>
                                {{if value.teacherNum==0}}
                                <span class="icon02 redBtn" >{{value.teacherNum}}</span>
                                {{else}}
                                <span class="icon0201">{{value.teacherNum}}</span>
                                {{/if}}
                            </div>
                        </a>
                        <div class="membersTitle">{{value.userName}}</div>
                    </li>
                    {{/each}}
                </script>
			</div>
	    </div>

        <div id="content01" class="content hide01">
            <h1 class="page-header pageTitle">成长档案&nbsp;&nbsp;<small></small></h1>
            <div>
                <a href="#" class="backBtn tip defaultBtn"><span>返回上级</span></a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <ul id="yearRecord"></ul>
                        <script type="text/html" id="yearRecord_script">
                            {{each data as value i}}
                            <li>
                                <div class="yearBg" style="background-image: url({{value.imgUrl}});">
                                    <span class="lookBtn" data-danbookid="{{value.id}}" data-name="{{value.name}}" data-value="{{value.value}}"></span>
                                    <span class="downBtn" data-danbookid="{{value.id}}" data-picMd5List="{{value.picMd5List}}" data-bookname="{{value.name}}"></span>
                                </div>
                                <div class="yearTitle" data-danbookid="{{value.id}}">
                                    <span class="current">{{value.name}}</span><input type="text" value="{{value.name}}" data-danbookid="{{value.id}}">
                                </div>
                            </li>
                            {{/each}}
                        </script>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>

        <div id="content02" class="content hide01">
            <h1 class="page-header pageTitle"><span></span>&nbsp;&nbsp;<small></small></h1>
            <div>
                <a href="#" class="backBtn tip defaultBtn"><span>返回上级</span></a>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <ul id="monthRecord"></ul>
                        <script type="text/html" id="monthRecord_script">
                            {{each data as value i}}
                            <li>
                                <div class="monthTitle">
                                    <span>共{{value.number}}页</span>
                                </div>
                                <div class="monthBg" style="background-image: url({{value.coverMd5}});">
                                    <span class="lookBtn" data-picMd5List="{{value.picMd5List}}"></span>
                                    <span class="downBtn" data-picMd5List="{{value.picMd5List}}"></span>
                                    <span class="editBtn" data-month="{{value.month}}" data-value="{{value.value}}"></span>
                                </div>
                                <div class="monthIcon">{{value.month}}月</div>
                            </li>
                            {{/each}}
                        </script>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
	</div>

    <div class="modal fade" id="modal-dialog-img" tabindex="0">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="carousel_img">
                    <div class="carousel-inner"></div>
                    <a class="left carousel-control prev" href="#">
                        <span class="glyphicon-left"></span>
                    </a>
                    <a class="right carousel-control next" href="#">
                        <span class="glyphicon-right"></span>
                    </a>
                </div>
                <script type="text/html" id="carousel_img_script">
                    {{each data as value i}}
                    {{if i == 0}}
                    <div class="item active">
                        <img src="{{value}}">
                    </div>
                    {{else}}
                    <div class="item">
                        <img src="{{value}}">
                    </div>
                    {{/if}}
                    {{/each}}
                </script>
            </div>
        </div>
        <span class="closeBtn" data-dismiss="modal"></span>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        请新建档案名称
                    </h4>
            </div>
                <div class="modal-body">
                    <label><span>档案名称：</span><input type="text" id="bookName" placeholder="请输入档案册名称"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="finalBtn">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- end page container -->

    <form action="" id="filesDown" method="POST" style="display: none;">
        <input type="hidden" name="loginId" value="">
        <input type="hidden" name="fileName" value="201701">
        <input type="hidden" name="fileMd5List" value="201701">
        <input type="submit">
    </form>

	<script src="../../js/common/jquery-1.11.1.min.js"></script>
    <script src="../../js/common/modal.js"></script>
	<script src="../../js/common/jquery.nicescroll.min.js?t=20180118"></script>
	<script src="../../js/common/template.js"></script>
    <script src="../../js/common/jquery.toast.min.js"></script>
    <script src="../../js/common/sweetalert.min.js"></script>
    <script src="../../js/common/simplePagination.js" ></script>
    <script src="../../js/common/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

	<script src="../../js/common/base.js?t=20180427"></script>
    <script src="../../js/interaction/recordList.js?t=20180427"></script>
</body>
</html>