<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>模板配置</title>
	<meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="幼教产品" />
    <meta name="author" content="上海紫越网络科技有限公司" />
	<link rel="shortcut icon" href="../../images/favicon.png">

	<link href="../../css/common/base.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common/modal.css" rel="stylesheet" type="text/css" />
    <link href="../../css/common/jquery.toast.min.css" rel="stylesheet">
    
	<link href="../../css/common/sidebar.css" rel="stylesheet" type="text/css" />
    <link href="../../css/interaction/templateSetting.css" rel="stylesheet" />
</head>
<body>
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<div id="page-container">
		<div id="sidebar" class="sidebar">
			<div id="sidebarBox">
				<div id="user">
					<div class="userPic"><a href="../../index.html">退出登录</a></div>
					<div class="userName"></div>
					<div class="userRole"></div>
				</div>
				<div id="home"> 
					<a class="homePic" href="../../menu.html">主页</a>
				</div>
				<ul id="subMenu"></ul>
				<script id="menu_script" type="text/html">
					{{each arr as value i}}
					<li class="has-list">
						<a class="hasTitle {{if value.current}}active{{/if}}" href="{{value.url}}?pid={{value.pid}}&sid={{value.newId}}" data-id="{{value.id}}">{{value.name}}</a>
					</li>
					{{/each}}
                    <style>
                    {{each arr as value i}}
                        a.hasTitle[data-id="{{value.id}}"]{background-image: url({{path_img}}{{value.iconArr[0]}});}
                        a.hasTitle[data-id="{{value.id}}"]:hover,a.hasTitle[data-id="{{value.id}}"].active{background-image: url({{path_img}}{{value.iconArr[1]}});border: 0.02rem solid #656868;background-color: #f3b369;}
                    {{/each}}
                    </style>
				</script>
			</div>
			<div id="switch" class=""><span></span></div>
		</div>

		<div id="content" class="content">
			<div class="pageTitle">模板配置</div>
			<div id="search">
				<label>
      				年份：
      				<select id="year01"></select>
      				<script type="text/html" id="year_script">
                        {{each year as value i}}
                        <option value="{{value}}">{{value}}年</option>
                        {{/each}}
                    </script>
      			</label>
      			<span id="searchBtn">查询</span>
			</div>
			<div id="main">
				<ul id="yearBox" class="yearBox"></ul>
                <script type="text/html" id="yearBox_script">
                    {{each arr as value i}}
                    <li>
                        <div class="yearBg" style="background-image: url({{path_img}}{{value.picture}}-scale400);">
                            {{if value.pageId ==0}}
                            <span class="addBtn" data-id="{{value.id}}" data-month="{{value.month}}"><i></i><div>添加模板</div></span>
                            {{else}}
                            <span class="editBtn" data-id="{{value.id}}" data-month="{{value.month}}" data-pageid="{{value.pageId}}">编辑</span>
                            {{/if}}
                        </div>
                        <div class="yearTitle">{{value.month}}月</div>
                    </li>
                    {{/each}}
                </script>
			</div>
	    </div>
	</div>

    <!-- #modal-dialog -->
    <div class="modal fade" id="modal-dialog-qunzu" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content" id="picLib">
                <ul id="picTab" class="nav-tabs">
                    <li class="active">
                        <a href="#company">定制模板</a>
                    </li>
                    <li>
                        <a href="#official">官方模板</a>
                    </li>
                </ul>
                <div id="picTabContent" class="tab-content" style="clear: both;">
                    <div class="tab-pane fade active in" id="company">
                        <div class="picMain"></div>
                        <script type="text/html" id="picMain01_script">
                            {{each company as value i}}
                            <img src="{{path_img}}{{value.imgUrl}}-scale400" alt="" data-pageid={{value.id}} class="templateBg {{if i==0}}active{{/if}}">
                            {{/each}}
                        </script>
                    </div>
                    <div class="tab-pane fade" id="official">
                        <div class="picMain"></div>
                        <script type="text/html" id="picMain02_script">
                            {{each official as value i}}
                            <img src="{{path_img}}{{value.imgUrl}}-scale400" alt="" data-pageid={{value.id}} class="templateBg">
                            {{/each}}
                        </script>
                    </div>
                </div>
                <span id="picBtn">确定</span>
            </div>
            <span class="closeBtn" data-dismiss="modal" ></span>
        </div>
    </div>

	<script src="../../js/common/jquery-1.11.1.min.js"></script>
    <script src="../../js/common/modal.js"></script>
	<script src="../../js/common/jquery.nicescroll.min.js?t=20180118"></script>
	<script src="../../js/common/template.js"></script>
    <script src="../../js/common/jquery.toast.min.js"></script>
	<script src="../../js/common/base.js?t=20180427"></script>
    <script src="../../js/interaction/templateSetting.js?t=20180427"></script>
</body>
</html>